{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load price_converter %}
{% load widget_tweaks %}
{% load humanize %}


{% block title %}
    {% if agent.name_family %}
        {{ agent.name_family|farsi_number }}
    {% else %}
        {{ agent }}
    {% endif %}
{% endblock %}


{% block content %}

    <div class="card">
        <div class="card-aside-wrap">
            <div class="card-inner card-inner-lg">

                <!-- Main -->
                <div class="nk-block-head  nk-block-head-lg">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h5 class="nk-block-title" style="margin-bottom: 30px;">مشاور:
                                {% if agent.name_family %}
                                    {{ agent.name_family|farsi_number }}
                                {% else %}
                                    {{ agent }}
                                {% endif %}
                            </h5>
                            <div class="nk-block-des" style="margin-top: 1.2em; margin-bottom: 10px;">نقش:
                                <span style="color: #00a65c; line-height: 30px;">{{ agent.get_title_display }}</span>
                            </div>
                            <div class="nk-block-des" style="margin-bottom: 1em;">زیرمحله:
                                <span style="color: #00a65c; line-height: 30px;">{{ agent.sub_district }}</span>
                            </div>
                            <div class="nk-block-des" style="margin-bottom: 1.2em;">توضیحات زیرمحله:
                                <span style="line-height: 20px; font-weight: lighter">
                                    {{ agent.sub_district.description|linebreaksbr|farsi_number|safe }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Main -->

                <!-- Stats -->
                <div class=" nk-block">

                    <!-- Exists -->
                    <div class="nk-data data-list">
                        <!-- title -->
                        <div class="data-head">
                            <h6 class="title">آمار موجودی</h6>
                        </div>
                        <!-- sale_files -->
                        {% if agent.title == 'fp' or agent.title == 'bt' %}
                            <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                <div class="data-col">
                                    <span class="data-label">تعداد فایل‌های فروش:</span>
                                    <span class="data-value">{{ sale_files }} عدد</span>
                                </div>
                            </div>
                        {% endif %}
                        <!-- rent_files -->
                        {% if agent.title == 'fp' or agent.title == 'bt' %}
                            <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                <div class="data-col">
                                    <span class="data-label">تعداد فایل‌های اجاره:</span>
                                    <span class="data-value">{{ rent_files }} عدد</span>
                                </div>
                            </div>
                        {% endif %}
                        <!-- buyers -->
                        {% if agent.title == 'cp' or agent.title == 'bt' %}
                            <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                <div class="data-col">
                                    <span class="data-label">تعداد خریداران:</span>
                                    <span class="data-value">{{ buyers }} عدد</span>
                                </div>
                            </div>
                        {% endif %}
                        <!-- renters -->
                        {% if agent.title == 'cp' or agent.title == 'bt' %}
                            <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                <div class="data-col">
                                    <span class="data-label">تعداد مستاجران:</span>
                                    <span class="data-value">{{ renters }} عدد</span>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                    <!-- end: Exists -->

                    <!-- Performance -->
                    <div class="nk-data data-list">
                        <!-- title -->
                        <div class="data-head">
                            <h6 class="title">آمار عملکردی</h6>
                        </div>
                        <!-- sessions -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">نشست‌های اخیر:</span>
                                <span class="data-value">ماه: {{ sessions_last_30_days }}</span>
                                <span style="margin: 0 5px; font-size: 1.5em;"> | </span>
                                <span class="data-value">هفته: {{ sessions_last_7_days }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- end: Performance -->

                </div>
                <!-- end: Stats -->

            </div>
        </div>
    </div>

{% endblock %}


