{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load widget_tweaks %}
{% load humanize %}
{% load weekday_finder %}


{% block title %}تقویم - {{ previous_2_month }}{% endblock %}


{% block content %}

    <!-- Main -->
    <div class="card">
        <div class="card-aside-wrap">
            <div class="card-inner card-inner-lg">
                <div class="nk-block-head nk-block-head-lg">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            
                            <!-- Upper -->
                            <h5 class="nk-block-title">کلندر - پلنر</h5>
                            <div class="project-meta" style="margin-bottom: 2em; justify-content: center; align-items: center">
                                <a href="{% url 'previous_2_month' %}" class="justify-center"
                                   style="margin-top: 1em; color: #00a65c; border-bottom: #00a65c 1px solid; margin-left: 30px;"
                                >{{ previous_2_month }}</a>
                                <a href="{% url 'previous_month' %}" class="justify-center"
                                   style="margin-top: 1em; color: black; border-bottom: black 1px solid; margin-left: 30px;"
                                >{{ previous_month }}</a>
                                <a href="{% url 'current_month' %}" class="justify-center"
                                   style="margin-top: 1em; color: black; border-bottom: black 1px solid; margin-left: 30px;"
                                >{{ current_month }} (فعلی)</a>
                                <a href="{% url 'next_month' %}" class="justify-center"
                                   style="margin-top: 1em; color: black; border-bottom: black 1px solid; margin-left: 30px;"
                                >{{ next_month }}</a>
                                <a href="{% url 'next_2_month' %}" class="justify-center"
                                   style="margin-top: 1em; color: black; border-bottom: black 1px solid; margin-left: 20px;"
                                >{{ next_2_month }}</a>
                            </div>
                            <!-- end: Upper -->

                            <!-- Calendar -->
                            <ul class="preview-icon-list">
                                {% for day in month %}
                                    <li class="preview-icon-item">
                                        <span class="preview-icon-name" style="font-size: 0.8em;">{{ day|weekday_finder }}</span>
                                        <div class="preview-icon-box card">
                                            {{ day }}
                                                <a href="{% url 'task_create' %}?deadline={{ day }}" class="preview-icon-name" target="_blank" style="margin-top: 2em;">
                                                    <em class="icon ni ni-plus" style="font-size: 1.2em;"></em>
                                                </a>
                                                <a href="{% url 'dated_task_list' %}?date={{ day }}" class="preview-icon-name" target="_blank" style="margin-top: 2em;">
                                                    <em class="icon ni ni-list" style="font-size: 1.2em;"></em>
                                                </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- end: Calendar -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



