{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load humanize %}
{% load widget_tweaks %}


{% block title %}بازیابی خریدار {{ buyer.name }}{% endblock %}


{% block content %}
    
    <!-- Messages2 -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Main -->
    <div class="components-preview wide-md mx-auto">
        <div class="nk-block nk-block-lg">
            <div class="card card-bordered card-preview">
                <div class="card-inner" >
                    <div class="preview-block" >

                        <!-- Title -->
                        <div class="nk-block-head nk-block-head-lg wide-sm">
                            <div class="nk-block-head-content">
                                <h6 class="nk-block-title page-title" style="line-height: 45px;">درخواست بازیابی خریدار {{ buyer.name }}</h6>
                            </div>
                        </div>
                        <!-- end: Title -->

                        <!-- Form -->
                        <form class="row gy-4" method="post" novalidate>
                            {% csrf_token %}
                            
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.delete_request.id_for_label }}">آیا هنوز درخواست حذف دارید؟</label>
                                        {% render_field form.delete_request id="delete_request" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.delete_request.errors %}
                                        {% for error in form.delete_request.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="nk-fmg-actions" style="margin-top: 3em;">
                                <button type="submit" class="btn btn-danger" style="line-height: 30px;">ارسال</button>
                            </div>
                        </form>
                        <!-- end: Form -->    
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




