{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load jalali_date_converter %}
{% load number_converter %}
{% load price_converter %}
{% load humanize %}
{% load widget_tweaks %}
{% load pagination %}


{% block title %}
    {% trans 'Buyers' %}
{% endblock %}


{% block content %}
    
    <!-- Message -->
    <div id="successModal"  class="modal">
        <div class="modal-content">
            <h5 class="modal-title" style="padding: 20px 20px 10px 0;!important;">عملیات با موفقیت انجام شد (عملیات مربوطه توسط مدیر بررسی خواهد شد).</h5>
            <button class="modal-my-button">بستن پیام</button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            var messages = "{% for message in messages %}{{ message }}{% if not forloop.last %}\\n{% endif %}{% endfor %}";
            if (messages) {
                $('#modal-message').text(messages);
                $('#successModal').show();
            }
            $('.modal-my-button').on('click', function() {
                $('#successModal').hide();
            });
        });
    </script>
    <!-- end: Message -->

    <!-- Main -->
    <div class="nk-fmg" style="padding-right: 0;!important;">
        <div class="nk-fmg-body">
            <div class="nk-fmg-body-content">

                <!-- Add / Filter-->
                <div class="nk-fmg-body-head  d-none d-lg-flex" >
                    <div class="nk-fmg-actions">
                        <ul class="nk-block-tools g-3">
                            <li>
                                <a href="{% url 'buyer_create' %}" class="btn btn-primary"><em class="icon ni ni-plus"></em><span>ایجاد خریدار جدید</span></a>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
                                    <em class="icon ni ni-filter"></em><span>فیلتر خریدار</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end: Add / Filter -->

                <!-- Add / Filter (Mobile) -->
                <div class="nk-block-head nk-block-head-sm" style="margin-bottom: 1.2em; margin-top: 1.2em;">
                    <div class="nk-block-between position-relative">

                        <!-- Title -->
                        <div class="nk-block-head-content">
                            <h5 class="nk-block-title page-title">خریداران</h5>
                        </div>

                        <!-- Buttons -->
                        <div class="nk-block-head-content">
                            <ul class="nk-block-tools g-1">
                                <li class="d-lg-none">
                                    <div class="dropdown">
                                        <a href="{% url 'buyer_create' %}" class="btn btn-primary"><em class="icon ni ni-plus"></em></a>
                                    </div>
                                </li>
                                <li class="d-lg-none">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
                                            <em class="icon ni ni-filter"></em>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- end: Upper + Mobile -->

                <!-- Filter (Modal) -->
                <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        
                            <!-- Upper -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="filterModalLabel">فیلتر خریدار</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <!-- end: Upper -->
                        
                            <!-- Form -->
                            <div class="modal-body">
                                <div class="card h-100">
                                    <div class="card-inner">
                                        <form class="row gy-4" id="filter-form" method="get" action="{% url 'buyer_list' %}" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <!-- province -->
                                            {% if request.user.title == 'bs' %}
                                                <div class="form-group">
                                                    <label class="form-label" for="{{ filter_form.province.id_for_label }}">استان</label>
                                                    {% render_field filter_form.province type="text" id="province" class="form-control" %}
                                                </div>
                                                {% if filter_form.province.errors %}
                                                    {% for error in filter_form.province.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}

                                            <!-- city -->
                                            {% if request.user.title == 'bs' %}
                                                <div class="form-group">
                                                    <label class="form-label" for="{{ filter_form.city.id_for_label }}">شهر</label>
                                                    {% render_field filter_form.city type="text" id="city" class="form-control" %}
                                                </div>
                                                {% if filter_form.city.errors %}
                                                    {% for error in filter_form.city.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}

                                            <!-- district -->
                                            {% if request.user.title == 'bs' %}
                                                <div class="form-group">
                                                    <label class="form-label" for="{{ filter_form.district.id_for_label }}">محله</label>
                                                    {% render_field filter_form.district type="text" id="district" class="form-control" %}
                                                </div>
                                                {% if filter_form.district.errors %}
                                                    {% for error in filter_form.district.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}

                                            <!-- sub_districts -->
                                            {% if request.user.title == 'bs' %}
                                                <div class="form-group">
                                                    <label class="form-label" for="{{ filter_form.sub_districts.id_for_label }}">زیرمحله‌ها</label>
                                                    <input type="text" id="sub_districts_trigger" class="form-control" style="cursor: pointer;">
                                                    {% render_field filter_form.sub_districts id="sub_districts" id="sub_districts" class="form-control" %}
                                                </div>
                                                {% if filter_form.sub_districts.errors %}
                                                    {% for error in filter_form.sub_districts.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}

                                            <!-- max_budget -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.max_budget.id_for_label }}">حداکثر بودجه</label>
                                                {% render_field filter_form.max_budget type="number" id="max_budget" class="form-control" %}
                                            </div>
                                            {% if filter_form.max_budget.errors %}
                                                {% for error in filter_form.max_budget.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- min_budget -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.min_budget.id_for_label }}">حداقل بودجه</label>
                                                {% render_field filter_form.min_budget type="number" id="min_budget" class="form-control" %}
                                            </div>
                                            {% if filter_form.min_budget.errors %}
                                                {% for error in filter_form.min_budget.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- budget status -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.budget_status.id_for_label }}">وضعیت بودجه</label>
                                                {% render_field filter_form.budget_status type="text" id="budget_status" class="form-control" %}
                                            </div>
                                            {% if filter_form.budget_status.errors %}
                                                {% for error in filter_form.budget_status.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- document -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.document.id_for_label }}">وضعیت سند</label>
                                                {% render_field filter_form.document type="text" id="document" class="form-control" %}
                                            </div>
                                            {% if filter_form.document.errors %}
                                                {% for error in filter_form.document.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- parking -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.parking.id_for_label }}">وضعیت پارکینگ</label>
                                                {% render_field filter_form.parking type="text" id="parking" class="form-control" %}
                                            </div>
                                            {% if filter_form.parking.errors %}
                                                {% for error in filter_form.parking.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- elevator -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.elevator.id_for_label }}">وضعیت آسانسور</label>
                                                {% render_field filter_form.elevator type="text" id="elevator" class="form-control" %}
                                            </div>
                                            {% if filter_form.elevator.errors %}
                                                {% for error in filter_form.elevator.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- warehouse -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.warehouse.id_for_label }}">وضعیت انباری</label>
                                                {% render_field filter_form.warehouse type="text" id="warehouse" class="form-control" %}
                                            </div>
                                            {% if filter_form.warehouse.errors %}
                                                {% for error in filter_form.warehouse.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- button -->
                                            <div class="form-group">
                                                <button type="submit" onclick="submitFormAndRefresh()" class="btn btn-primary justify-center" style="width: 100%;!important;">اعمال فیلترها</button>
                                                <a href="{% url 'buyer_list' %}" class="btn btn-danger justify-center" style="width: 100%;!important; margin-top: 10px;">حذف فیلترها</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end: Form -->
                        
                        </div>
                    </div>
                </div>
                <!-- end: Filter (Modal) -->

                <!-- Filter (JS)-->
                <script>
                    function submitFormAndRefresh() {
                        document.getElementById('filter-form').submit();
                        location.reload();
                    }
                </script>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const province = document.getElementById('province').value;
                        const city = document.getElementById('city').value;

                        if (province) {
                            updateCities(province);
                        }
                        if (city) {
                            updateDistricts(city);
                        }
                    });

                    function updateCities(provinceId) {
                        const url = `/get-cities/?province_id=${provinceId}`;
                        fetch(url)
                            .then(response => response.json())
                            .then(data => {
                                const citySelect = document.getElementById('city');
                                citySelect.innerHTML = '<option value="">Select City</option>';
                                data.cities.forEach(city => {
                                    citySelect.innerHTML += `<option value="${city.id}">${city.name}</option>`;
                                });

                                const selectedCity = '{{ request.GET.city }}';
                                if (selectedCity) {
                                    citySelect.value = selectedCity;
                                }
                            });
                    }

                    function updateDistricts(cityId) {
                        const url = `/get-districts/?city_id=${cityId}`;
                        fetch(url)
                            .then(response => response.json())
                            .then(data => {
                                const districtSelect = document.getElementById('district');
                                districtSelect.innerHTML = '<option value="">Select District</option>';
                                data.districts.forEach(district => {
                                    districtSelect.innerHTML += `<option value="${district.id}">${district.name}</option>`;
                                });

                                const selectedDistrict = '{{ request.GET.district }}';
                                if (selectedDistrict) {
                                    districtSelect.value = selectedDistrict;
                                }
                            });
                    }

                    function submitFormAndRefresh() {
                        document.getElementById('filter-form').submit();
                        location.reload();
                    }
                </script>
                <!-- end: Filter (JS)-->

                <!-- Buyers -->
                <div class="nk-fmg-quick-list nk-block">
                    <div class="toggle-expand-content expanded" data-content="quick-access">
                        <div class="nk-files nk-files-view-grid">
                            <div class="nk-files-list">
                            
                                <!-- Loop -->
                                {% for buyer in buyers %}
                                    {% if buyer.status == 'acc' %}
                                        <div class="col-sm-12 col-lg-6 col-xxl-6" style="padding: 5px;">
                                            <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.10) 0 5px 15px;">
                                                <div class="card-inner">
                                                    <div class="project">

                                                        <!-- Mark -->
                                                        <div class="project-head" style="margin-bottom: 2em;">
                                                            <div class="project-title">
                                                                <div class="project-info">
                                                                    <div class="title" style="font-size: 1.1em;">
                                                                        {% if buyer.id not in marked_buyer_ids %}
                                                                            <form method="post" action="{% url 'mark_buyer_create' 'buyer' buyer.id %}" style="display: inline-block; margin-top: 1em; margin-left: 5px;">
                                                                                {% csrf_token %}
                                                                                <button type="submit" class="btn btn-gray" style="font-size: 0.7em; line-height: 0.7em;">
                                                                                    <em class="icon ni ni-bookmark"></em>
                                                                                </button>
                                                                            </form>
                                                                        {% else %}
                                                                            <span class="btn btn-warning" style="margin-top: 1em; margin-left: 5px; font-size: 0.7em; line-height: 0.7em;" title="نشان‌شده">
                                                                                <em class="icon ni ni-check"></em>
                                                                            </span>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Name & Code & Phone -->
                                                        <div class="project-head">
                                                            <div class="project-title">
                                                                <div class="project-info">
                                                                    <h5 class="title" style="font-size: 1.1em;">{{ buyer.name }} |
                                                                        <!-- Code -->
                                                                        <button style="border: none; background-color:transparent; margin-top: 0.8em; line-height: 10px; border-bottom: solid 1px #00a65c; color: #00a65c" onclick="copyCode(this)">
                                                                           {{ buyer.code }}
                                                                        </button>
                                                                        <span class="feedback" id="feedback-{{ buyer.code }}" style="display: none; color: #00a65c">شد!</span>
                                                                        <!-- Code (JS) -->
                                                                        <script>
                                                                function copyCode(element) {
                                                                    // Get the code from the button's text content instead of parameter
                                                                    const code = element.textContent.trim();

                                                                    // Create a temporary input element to hold the text
                                                                    const tempInput = document.createElement("input");
                                                                    tempInput.value = code;
                                                                    document.body.appendChild(tempInput);

                                                                    // Select and copy the text
                                                                    tempInput.select();
                                                                    document.execCommand("copy");

                                                                    // Remove the temporary input
                                                                    document.body.removeChild(tempInput);

                                                                    // Show feedback message
                                                                    const feedback = document.getElementById(`feedback-${code}`);
                                                                    feedback.style.display = 'inline';

                                                                    // Hide feedback after 3 seconds
                                                                    setTimeout(() => {
                                                                        feedback.style.display = 'none';
                                                                    }, 3000);
                                                                }
                                                            </script>

                                                                        {% if buyer.phone_number in duplicate_phone_numbers %}
                                                                            <span style="color: red; font-size: 0.6em;">( خریدار تکراری )</span>
                                                                        {% endif %}
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Location -->
                                                        <div style="height: 4em;!important; -webkit-line-clamp: 2;!important;">
                                                            <div class="project-head" style="margin-bottom: 0.5em;!important;">
                                                                <div class="project-title">
                                                                    <div class="project-info">
                                                                        <span class="sub-text" style="font-size: 0.75em; line-height: 25px;">
                                                                            {% for sub_district in buyer.sub_districts.all %}
                                                                                {{ sub_district.name }} |
                                                                            {% empty %}
                                                                                <span>هیچ زیرمحله‌ای انتخاب نشده است</span>
                                                                            {% endfor %}
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Info -->
                                                        <div style="height: 4em;!important; -webkit-line-clamp: 2;!important;">
                                                            <div class="project-head" style="margin-bottom: 0.5em;!important;">
                                                                <div class="project-title">
                                                                    <div class="project-info">
                                                                        <h6 class="sub-text" style="font-size: 0.9em; line-height: 25px;">بودجه: {{ buyer.budget_announced|price_converter|intcomma:False|farsi_number }} تومان</h6>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- More -->
                                                        <div class="project-meta" style="float: left;">
                                                            <a href="{{ buyer.get_absolute_url }}" class="btn btn-primary" style="margin-top: 1em;"><em class="icon ni ni-eye"></em><span>مشاهده</span></a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <!-- end: Loop -->
                            
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Buyers -->

                <!-- Pagination -->
                {% pagination page_obj request 'buyer_list' %}
                <!-- end: Pagination -->
            
            </div>
        </div>
    </div>
    <!-- end: Main -->

{% endblock %}


