{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load humanize %}
{% load widget_tweaks %}


{% block title %}حذف فرد آگهی‌دهنده {{ person.name }}{% endblock %}


{% block content %}
    
    <!-- Messages2 -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Main -->
    <div class="components-preview wide-md mx-auto">
        <div class="nk-block nk-block-lg">
            <div class="card card-bordered card-preview">
                <div class="card-inner" >
                    <div class="preview-block" >

                        <!-- Title -->
                        <div class="nk-block-head-content">
                            <h5 class="nk-block-title" style="line-height: 45px; font-size: 1.4em;">آیا از حذف فرد آگهی‌دهنده 
                                {{ person.name }}مطمئن هستید؟
                            </h5>
                        </div>
                        <!-- end: Title -->

                        <!-- Form -->
                        <form class="row gy-4" method="post">
                            {% csrf_token %}
                            <div class="nk-fmg-actions" style="margin-top: 3em;">
                                <button type="submit" class="btn btn-danger" style="line-height: 30px;">حذف فرد</button>
                            </div>
                        </form>
                        <!-- end: Form --> 
                        
                        <!-- Recover -->
                        <div class="nk-fmg-actions" style="margin-top: 3em;">
                            <a href="{% url 'person_recover' person.pk %}" class="btn btn-primary" style="line-height: 30px;">بازیابی فرد</a>
                        </div>
                        <!-- end: Recover -->
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}






