{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load price_converter %}
{% load widget_tweaks %}
{% load humanize %}


{% block title %}{{ renter.name|farsi_number }}{% endblock %}


{% block content %}

    <div class="card">
        <div class="card-aside-wrap">
            <div class="card-inner card-inner-lg">

                <!-- Name -->
                <div class="nk-block-head nk-block-head-lg">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h5 class="nk-block-title">مستاجر: {{ renter.name|farsi_number }}
                                {% if renter.phone_number in duplicate_phone_numbers %}
                                    | <span style="color: red; font-size: 0.7em;">( مستاجر تکراری )</span>
                                {% endif %}
                            </h5>
                            <div style="font-size: 0.9em; margin-top: 1em;">
                                <a href="{% url 'renter_update' renter.pk renter.code %}" class="btn btn-primary" style="margin-left: 10px;">بروزرسانی</a>
                                <a href="{% url 'renter_delete_request' renter.pk renter.code %}" class="btn btn-danger">حذف کردن</a>
                            </div>
                            <div class="nk-block-des" style="margin-top: 1.2em;">
                                <span>شماره تلفن: {{ renter.phone_number }}</span>
                            </div>
                            <div class="nk-block-des">
                                <span>کد:
                                    <!-- Code -->
                                    <button style="border: none; background-color:transparent; line-height: 10px; border-bottom: solid 1px #00a65c; color: #00a65c" onclick="copyCode(this)">
                                       {{ renter.code }}
                                    </button>
                                    <span class="feedback" id="feedback-{{ renter.code }}" style="display: none; color: #00a65c">شد!</span>
                                    <!-- Code (JS) -->
                                    <script>
                                        function copyCode(element) {
                                            // Get the code from the button's text content instead of parameter
                                            const code = element.textContent.trim();
            
                                            // Create a temporary input element to hold the text
                                            const tempInput = document.createElement("input");
                                            tempInput.value = code;
                                            document.body.appendChild(tempInput);
            
                                            // Select and copy the text
                                            tempInput.select();
                                            document.execCommand("copy");
            
                                            // Remove the temporary input
                                            document.body.removeChild(tempInput);
            
                                            // Show feedback message
                                            const feedback = document.getElementById(`feedback-${code}`);
                                            feedback.style.display = 'inline';
            
                                            // Hide feedback after 3 seconds
                                            setTimeout(() => {
                                                feedback.style.display = 'none';
                                            }, 3000);
                                        }
                                    </script>
                                </span>
                            </div>
                        
                            <!-- Agent -->
                            <div class="nk-block-des" style="margin-bottom: 1.2em; margin-top: 0.8em;">
                                <h6 class="title" style="font-size: 0.9em;">مشاور: "{{ renter.created_by.name_family|default:renter.created_by }}"</h6>
                            </div>
                        
                            <!-- Mark -->
                            <form method="post" 
                                  action="{% url 'toggle_mark_renter' 'renter' renter.id %}"
                                  class="mark-form"
                                  data-file-id="{{ renter.id }}">
                               {% csrf_token %}
                                {% if not is_marked %}
                                    <button type="submit" 
                                            class="btn btn-gray mark-btn" 
                                            style="margin-top: 1em; font-size: 0.7em; line-height: 0.7em;"
                                            title="افزودن نشان">
                                        <em class="icon ni ni-bookmark"></em>
                                    </button>
                                {% else %}
                                    <button type="submit" 
                                            class="btn btn-warning mark-btn marked" 
                                            style="margin-top: 1em; margin-left: 5px; font-size: 0.7em; line-height: 0.7em;" 
                                            title="حذف نشان">
                                        <em class="icon ni ni-check"></em>
                                    </button>
                                {% endif %}
                            </form>
                        
                        </div>
                    </div>
                </div>
                <!-- end: Name -->

                <!-- Info -->
                <div class="nk-block">

                    <!-- Main -->
                    <div class="nk-data  data-list">
                        <!-- Title -->
                        <div class="data-head">
                            <h6 class="title">اطلاعات اصلی</h6>
                        </div>
                        <!-- province -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">استان:</span>
                                <span class="data-value">{{ renter.province }}</span>
                            </div>
                        </div>
                        <!-- city -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">شهر:</span>
                                <span class="data-value">{{ renter.city }}</span>
                            </div>
                        </div>
                        <!-- district -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">محله (منطقه):</span>
                                <span class="data-value">{{ renter.district }}</span>
                            </div>
                        </div>
                        <!-- sun_district -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">زیرمحله‌ها:</span>
                                <span class="data-value">
                                    {% for sub_district in renter.sub_districts.all %}
                                        {{ sub_district }} |
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                        <!-- deposit_announced -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">ودیعه اعلامی:</span>
                                {% if renter.deposit_announced %}
                                    <span class="data-value">{{ renter.deposit_announced|intcomma:False|farsi_number }} تومان</span>
                                {% endif %}
                            </div>
                        </div>
                        <!-- deposit_max -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">حداکثر ودیعه:</span>
                                {% if renter.deposit_max %}
                                    <span class="data-value">{{ renter.deposit_max|price_converter|intcomma:False|farsi_number }} تومان</span>
                                {% endif %}
                            </div>
                        </div>
                        <!-- rent_announced -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">اجاره اعلامی:</span>
                                {% if renter.rent_announced %}
                                    <span class="data-value">{{ renter.rent_announced|price_converter|intcomma:False|farsi_number }} تومان</span>
                                {% endif %}
                            </div>
                        </div>
                        <!-- rent_max -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">حداکثر اجاره:</span>
                                {% if renter.rent_max %}
                                    <span class="data-value">{{ renter.rent_max|intcomma:False|farsi_number }} تومان</span>
                                {% endif %}
                            </div>
                        </div>
                        <!-- budget_status -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">وضعیت بودجه:</span>
                                <span class="data-value">{{ renter.get_budget_status_display }}</span>
                            </div>
                        </div>
                        <!-- convertable -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">قابل تبدیل:</span>
                                <span class="data-value">{{ renter.get_convertable_display }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- Other -->
                    <div class="nk-data  data-list">
                        <!-- Title -->
                        <div class="data-head">
                            <h6 class="title">سایر اطلاعات</h6>
                        </div>
                        <!-- area -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">متراژ:</span>
                                <span class="data-value">حداکثر: {{ renter.area_max }}</span>
                                <span class="data-value" style="margin-right: 7px; margin-left: 7px;">|</span>
                                <span class="data-value"> حداقل: {{ renter.area_min }}</span>
                            </div>
                        </div>
                        <!-- room -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">اتاق:</span>
                                <span class="data-value">حداکثر: {{ renter.get_room_max_display }}</span>
                                <span class="data-value" style="margin-right: 7px; margin-left: 7px;">|</span>
                                <span class="data-value">حداقل: {{ renter.get_room_min_display }}</span>
                            </div>
                        </div>
                        <!-- age -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">سن:</span>
                                <span class="data-value">حداکثر: {{ renter.get_age_max_display }}</span>
                                <span class="data-value" style="margin-right: 7px; margin-left: 7px;">|</span>
                                <span class="data-value">حداقل: {{ renter.get_age_min_display }}</span>
                            </div>
                        </div>
                        <!-- document -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">وضعیت سند:</span>
                                <span class="data-value">{{ renter.get_document_display }}</span>
                            </div>
                        </div>
                        <!-- parking -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">وضعیت پارکینگ:</span>
                                <span class="data-value">{{ renter.get_parking_display }}</span>
                            </div>
                        </div>
                        <!-- elevator -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">وضعیت آسانسور:</span>
                                <span class="data-value">{{ renter.get_elevator_display }}</span>
                            </div>
                        </div>
                        <!-- warehouse -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">وضعیت انباری:</span>
                                <span class="data-value">{{ renter.get_warehouse_display }}</span>
                            </div>
                        </div>
                        <!-- description -->
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div class="data-col">
                                <span class="data-label">توضیحات:</span>
                                <span class="data-value">{{ renter.description|linebreaksbr|farsi_number|safe }}</span>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end: Info -->
    
                <!-- Services -->
                <div class=" nk-block">
                    <div class="nk-data data-list">
                        <div class="data-head">
                            <h6 class="title">هماهنگی خدمات</h6>
                        </div>
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div style="font-size: 0.9em; margin-top: 0.4em;">
                                <a href="{% url 'visit_create' %}?renter_code={{ renter.code }}" class="btn btn-primary" style="font-size: 0.9em;">
                                    ایجاد بازدید
                                </a>
                                <a href="{% url 'session_create' %}?renter_code={{ renter.code }}" class="btn btn-primary" style="font-size: 0.9em;">
                                    ایجاد نشست
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Services -->

                <!-- Suggestions (Box) -->
                <div class=" nk-block">
                    <div class="nk-data data-list">
                        <div class="data-head">
                            <h6 class="title">فایل‌های پیشنهادی</h6>
                        </div>
                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                            <div style="font-size: 0.9em; margin-top: 0.4em;">
                                <div class="btn btn-primary" style="font-size: 0.9em;">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalLarge">برای مشاهده فایل‌های پیشنهادی کلیک کنید</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Suggestions (Box) -->
                <!-- Suggestions (Modal) -->
                <div class="modal fade" tabindex="-1" id="modalLarge">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">

                            <!-- Title -->
                            <div class="modal-header">
                                <h5 class="modal-title">فایل‌های پیشنهادی</h5>
                                <a href="#" class="close" data-bs-dismiss="modal" aria-label="بستن">
                                    <em class="icon ni ni-cross"></em>
                                </a>
                            </div>

                            <!-- Files -->
                            <div class="modal-body">
                                <div class="card card-bordered card-preview">
                                    <div class="card-inner">
                                        <div class="row g-gs">
                                            {% for file in suggested_files %}
                                                <div class="col-lg-6">
                                                    <div class="card">
                                                        <!-- Code -->
                                                        <div class="card-header border-bottom">
                                                            <a href="{{ file.get_absolute_url }}" target="_blank" style="color: #00a65c; border-bottom: 1px solid #00a65c">
                                                                {{ file.code }}
                                                            </a>
                                                        </div>
                                                        <div class="card-inner" style="background-color: #FAFAFA">
                                                            <!-- Info -->
                                                            <p class="card-text" style="color: #00a65c; height: 3em;!important; -webkit-line-clamp: 2;!important;">
                                                                {{ file.sub_district }}
                                                            </p>
                                                            {% if file.created_by.name_family %}
                                                                <p class="card-text">مشاور: {{ file.created_by.name_family }}</p>
                                                            {% else %}
                                                                <p class="card-text">مشاور: {{ file.created_by }}</p>
                                                            {% endif %}
                                                            <p class="card-text">رهن: {{ file.deposit_announced|intcomma:False|farsi_number }}</p>
                                                            <p class="card-text">اجاره: {{ file.rent_announced|intcomma:False|farsi_number }}</p>
                                                            <p class="card-text">متراژ: {{ file.area }}</p>
                                                            <p class="card-text">اتاق: {{ file.room }}</p>
                                                            <!-- Link -->
                                                            <a href="{% url 'rent_file_detail' file.pk file.unique_url_id %}"
                                                               class="btn btn-primary"
                                                               style="font-size: 0.75em; width:100%; text-align: center; justify-content: center;"
                                                               target="_blank">
                                                               مشاهده
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- More -->
                            <div class="modal-footer bg-light">
                                <a href="{% url 'renter_suggested_files' renter.pk renter.code %}" target="_blank" class="sub-text">مشاهده همه</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end:Suggestions (Modal) -->

            </div>
        </div>
    </div>

{% endblock %}



