{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load jalali_date_converter %}
{% load number_converter %}
{% load price_converter %}
{% load humanize %}
{% load widget_tweaks %}
{% load pagination %}


{% block title %}
    جستجوی سریع خریداران
{% endblock %}


{% block content %}

    <!-- Main -->
    <div class="nk-fmg" style="padding-right: 0;!important;">
        <div class="nk-fmg-body">
            <div class="nk-fmg-body-content">
            
                <!-- Title -->
                <div class="nk-block-head-content" style="margin-bottom: 1em;">
                    <h5 class="nk-block-title page-title">جستجوی سریع خریداران</h5>
                </div>

                <!-- Form-->
                <div class="nk-block" >
                    <div class="nk-fmg-actions">
                        <div class="modal-body">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <form id="search-form" class="row gy-4" method="get" action="{% url 'search_buyers' %}" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <!-- min_budget -->
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <label class="form-label" for="{{ form.min_budget.id_for_label }}">حداقل بودجه</label>
                                                    {% render_field form.min_budget id="min_budget" type="number" class="form-control form-control-xl form-control-outlined" %}
                                                </div>
                                                {% if form.min_budget.errors %}
                                                    {% for error in form.min_budget.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <!-- max_budget -->
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <label class="form-label" for="{{ form.max_budget.id_for_label }}">حداکثر بودجه</label>
                                                    {% render_field form.max_budget id="max_budget" type="number" class="form-control form-control-xl form-control-outlined" %}
                                                </div>
                                                {% if form.max_budget.errors %}
                                                    {% for error in form.max_budget.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <!-- min_area -->
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <label class="form-label" for="{{ form.min_area.id_for_label }}">حداقل متراژ</label>
                                                    {% render_field form.min_area id="min_area" type="number" class="form-control form-control-xl form-control-outlined" %}
                                                </div>
                                                {% if form.min_area.errors %}
                                                    {% for error in form.min_area.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <!-- max_area -->
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <label class="form-label" for="{{ form.max_area.id_for_label }}">حداکثر متراژ</label>
                                                    {% render_field form.max_area id="max_area" type="number" class="form-control form-control-xl form-control-outlined" %}
                                                </div>
                                                {% if form.max_area.errors %}
                                                    {% for error in form.max_area.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <!-- button -->
                                        <div class="form-group align-center">
                                            <button type="submit" onclick="submitFormAndRefresh()" class="btn btn-primary justify-center" style="width: 49%;!important; margin-left: 2%;">جستجو</button>
                                            <a href="{% url 'search_buyers' %}" class="btn btn-danger justify-center" style="width: 49%;!important;">بازنشانی</a>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Form -->

                <!-- Buyers -->
                <div class="nk-fmg-quick-list nk-block">
                    <div class="toggle-expand-content expanded" data-content="quick-access">
                        <div class="nk-files nk-files-view-grid">
                            <div class="nk-files-list">
                            
                                <!-- Loop -->
                                {% for buyer in buyers %}
                                    {% if buyer.status == 'acc' %}
                                        <div class="col-sm-12 col-lg-6 col-xxl-6" style="padding: 5px;">
                                            <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.10) 0 5px 15px;">
                                                <div class="card-inner">
                                                    <div class="project">

                                                        <!-- Mark -->
                                                        <div class="project-head" style="margin-bottom: 2em;">
                                                            <div class="project-title">
                                                                <div class="project-info">
                                                                    <div class="title" style="font-size: 1.1em;">
                                                                        <form method="post"
                                                                              action="{% url 'toggle_mark_buyer' 'buyer' buyer.id %}"
                                                                              class="mark-form"
                                                                              data-file-id="{{ buyer.id }}">
                                                                           {% csrf_token %}
                                                                            {% if buyer.id not in marked_buyer_ids %}
                                                                                <button type="submit"
                                                                                        class="btn btn-gray mark-btn"
                                                                                        style="margin-top: 1em; font-size: 0.7em; line-height: 0.7em;"
                                                                                        title="افزودن نشان">
                                                                                    <em class="icon ni ni-bookmark"></em>
                                                                                </button>
                                                                            {% else %}
                                                                                <button type="submit"
                                                                                        class="btn btn-warning mark-btn marked"
                                                                                        style="margin-top: 1em; margin-left: 5px; font-size: 0.7em; line-height: 0.7em;"
                                                                                        title="حذف نشان">
                                                                                    <em class="icon ni ni-check"></em>
                                                                                </button>
                                                                            {% endif %}
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Name & Code-->
                                                        <div class="project-head">
                                                            <div class="project-title">
                                                                <div class="project-info">
                                                                    <h5 class="title" style="font-size: 1.1em;">{{ buyer.name }} |
                                                                        <!-- Code -->
                                                                        <button style="border: none; background-color:transparent; margin-top: 0.8em; line-height: 10px; border-bottom: solid 1px #00a65c; color: #00a65c" onclick="copyCode(this)">
                                                                           {{ buyer.code }}
                                                                        </button>
                                                                        <span class="feedback" id="feedback-{{ buyer.code }}" style="display: none; color: #00a65c">شد!</span>
                                                                        <!-- Code (JS) -->
                                                                        <script>
                                                                            function copyCode(element) {
                                                                                // Get the code from the button's text content instead of parameter
                                                                                const code = element.textContent.trim();

                                                                                // Create a temporary input element to hold the text
                                                                                const tempInput = document.createElement("input");
                                                                                tempInput.value = code;
                                                                                document.body.appendChild(tempInput);

                                                                                // Select and copy the text
                                                                                tempInput.select();
                                                                                document.execCommand("copy");

                                                                                // Remove the temporary input
                                                                                document.body.removeChild(tempInput);

                                                                                // Show feedback message
                                                                                const feedback = document.getElementById(`feedback-${code}`);
                                                                                feedback.style.display = 'inline';

                                                                                // Hide feedback after 3 seconds
                                                                                setTimeout(() => {
                                                                                    feedback.style.display = 'none';
                                                                                }, 3000);
                                                                            }
                                                                        </script>
                                                                        <!-- Duplicated -->
                                                                        {% if buyer.phone_number in duplicate_phone_numbers %}
                                                                            <span style="color: red; font-size: 0.6em;">( خریدار تکراری )</span>
                                                                        {% endif %}
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Location -->
                                                        <div style="height: 4em;!important; -webkit-line-clamp: 2;!important;">
                                                            <div class="project-head" style="margin-bottom: 0.5em;!important;">
                                                                <div class="project-title">
                                                                    <div class="project-info">
                                                                        <span class="sub-text" style="font-size: 0.9em; line-height: 25px; font-weight: bolder">
                                                                            {% if buyer.created_by.name_family %}
                                                                                مشاور: {{ buyer.created_by.name_family }}
                                                                            {% else %}
                                                                                مشاور: {{ buyer.created_by }}
                                                                            {% endif %}
                                                                        </span>
                                                                        <span class="sub-text" style="font-size: 0.75em; line-height: 25px;">
                                                                            {% for sub_district in buyer.sub_districts.all %}
                                                                                {{ sub_district.name }} |
                                                                            {% empty %}
                                                                                <span>هیچ زیرمحله‌ای انتخاب نشده است</span>
                                                                            {% endfor %}
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Info -->
                                                        <div style="height: 4em;!important; -webkit-line-clamp: 2;!important;">
                                                            <div class="project-head" style="margin-bottom: 0.5em;!important;">
                                                                <div class="project-title">
                                                                    <div class="project-info">
                                                                        <h6 class="sub-text" style="font-size: 0.9em; line-height: 25px;">بودجه: {{ buyer.budget_announced|price_converter|intcomma:False|farsi_number }} تومان</h6>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- More -->
                                                        <div class="project-meta" style="float: left;">
                                                            {% if request.user.sub_district == buyer.created_by.sub_district or request.user.title == 'bs' %}
                                                                <a href="{{ buyer.get_absolute_url }}" class="btn btn-primary" style="margin-top: 1em;"><em class="icon ni ni-eye"></em><span>مشاهده</span></a>
                                                            {% else %}
                                                                <a class="btn btn-gray" style="margin-top: 1em;"><em class="icon ni ni-eye"></em><span>غیر مجاز</span></a>
                                                            {% endif %}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <!-- end: Loop -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Buyers -->

                <!-- Pagination -->
                {% pagination page_obj request 'search_buyers' %}
                <!-- end: Pagination -->
            
            </div>
        </div>
    </div>
    <!-- end: Main -->
    
{% endblock %}


