{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load widget_tweaks %}
{% load humanize %}


{% block title %}{% trans 'Dashboard' %}{% endblock %}


{% block content %}

    <!-- Info -->
    <div class="card">
        <div class="card-aside-wrap">
            <div class="card-inner card-inner-lg">

                <!-- Name -->
                <div class="nk-block-head nk-block-head-lg">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            {% if user.title != 'bs' %}
                                {% if user.name_family %}
                                    <h5 class="nk-block-title">مشاور: {{ user.name_family|farsi_number }}</h5>
                                {% else %}
                                    <h5 class="nk-block-title">مشاور: {{ user }}</h5>
                                {% endif %}
                            {% else %}
                                {% if user.name_family %}
                                    <h5 class="nk-block-title">مدیر: {{ user.name_family|farsi_number }}</h5>
                                {% else %}
                                    <h5 class="nk-block-title">مدیر: {{ user }}</h5>
                                {% endif %}
                            {% endif %}
                            <div class="nk-block-des" style="margin-top: 20px;">
                                <h6 style="color: #00a65c">نقش: {{ user.get_title_display|farsi_number }}</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Info -->
                {% if user.title != 'bs' %}
                    <!-- Location -->
                    <div class="nk-block" style="margin-top: 1.5em;">
                        <div class="nk-data  data-list">
                            <!-- Ribbon -->
                            <div class="data-head">
                                <h6 class="title">اطلاعات موقعیت فعالیت</h6>
                            </div>
                            <!-- PCD -->
                            <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                <div class="data-col">
                                    <span class="data-label">لوکیشن فعالیت:</span>
                                    <span class="data-value">{{ user.sub_district.district.city.province }} | {{ user.sub_district.district.city }} | {{ user.sub_district.district }}</span>
                                </div>
                            </div>
                            <!-- Subdi -->
                            <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                <div class="data-col">
                                    <span class="data-label">زیرمحله مشاور:</span>
                                    <span class="data-value" style="color: #00a65c">{{ user.sub_district.name }}</span>
                                </div>
                            </div>
                            <!-- Description -->
                            <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                <div class="data-col">
                                    <span class="data-label">توضیحات زیرمحله:</span>
                                    <span class="data-value">{{ user.sub_district.description|linebreaksbr|farsi_number|safe }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Location -->
                    <!-- Stats -->
                    <div class=" nk-block">
                        <!-- Exists -->
                        <div class="nk-data data-list">
                            <!-- title -->
                            <div class="data-head">
                                <h6 class="title">آمار موجودی</h6>
                            </div>
                            <!-- sale_files -->
                            {% if request.user.title == 'fp' or request.user.title == 'bt' %}
                                <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                    <div class="data-col">
                                        <span class="data-label">تعداد فایل‌های فروش:</span>
                                        <span class="data-value">{{ sale_files }} عدد</span>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- rent_files -->
                            {% if request.user.title == 'fp' or request.user.title == 'bt' %}
                                <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                    <div class="data-col">
                                        <span class="data-label">تعداد فایل‌های اجاره:</span>
                                        <span class="data-value">{{ rent_files }} عدد</span>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- buyers -->
                            {% if request.user.title == 'cp' or request.user.title == 'bt' %}
                                <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                    <div class="data-col">
                                        <span class="data-label">تعداد خریداران:</span>
                                        <span class="data-value">{{ buyers }} عدد</span>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- renters -->
                            {% if request.user.title == 'cp' or request.user.title == 'bt' %}
                                <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                    <div class="data-col">
                                        <span class="data-label">تعداد مستاجران:</span>
                                        <span class="data-value">{{ renters }} عدد</span>
                                    </div>
                                </div>
                            {% endif %}
    
                        </div>
                        <!-- end: Exists -->
                        <!-- Performance -->
                        <div class="nk-data data-list">
                            <!-- title -->
                            <div class="data-head">
                                <h6 class="title">آمار عملکردی</h6>
                            </div>
                            <!-- sessions -->
                            <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                <div class="data-col">
                                    <span class="data-label">نشست‌های اخیر:</span>
                                    <span class="data-value">ماه: {{ sessions_last_30_days }}</span>
                                    <span style="margin: 0 5px; font-size: 1.5em;"> | </span>
                                    <span class="data-value">هفته: {{ sessions_last_7_days }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- end: Performance -->
                    </div>
                    <!-- end: Stats -->
                {% endif %}

            </div>
        </div>
    </div>

    <!-- Dashboard -->
    {% if request.user.title == 'bs' %}
        <div class="card">
            <div class="card-aside-wrap">
                <div class="card-inner card-inner-lg">

                    <!-- Title -->
                    <div class="nk-block-head nk-block-head-lg">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h5 class="nk-block-title">داشبورد مدیریت</h5>
                                <div class="nk-block-des text-soft">
                                    <p>شما {{ count }} زیرمحله دارید</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Title -->

                    <!-- Teams -->
                    <div class="nk-block">
                        <div class="row g-gs">
                            <!-- Loop -->
                            {% for sub_district in sub_districts %}
                                <div class="col-sm-12 col-lg-6 col-xxl-6" style="padding: 5px; ">
                                    <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.10) 0 5px 15px;">
                                        <div class="card-inner">
                                            <div class="project">

                                                <!-- Upper -->
                                                <div class="project-head">
                                                    <a href="#" class="project-title" target="_blank">
                                                        <div class="user-avatar sq" style="background-color: #00a65c">
                                                            <span style="margin-top: 6px;"><i class="ni ni-users" style="font-size: 1.2em;"></i></span>
                                                        </div>
                                                        <div class="project-info">
                                                            <h6 class="title">{{ sub_district.name }}</h6>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- end: Upper -->

                                                <!-- Description -->
                                                {% if sub_district.description %}
                                                    <div class="project-details mt-5 mb-5" style="height: 4em;!important; -webkit-line-clamp: 2;!important;">
                                                        <p>{{ sub_district.description|linebreaksbr|farsi_number|safe }}</p>
                                                    </div>
                                                {% endif %}
                                                <!-- end: Description -->

                                                <!-- Agents -->
                                                <div class="nk-block nk-block-lg">
                                                    <div class="row g-gs">
                                                        {% for agent in sub_district.agents.all %}
                                                            <div class="col-sm-6 col-lg-6 col-xxl-6" style="box-shadow: rgba(0, 0, 0, 0.10) 0 5px 15px; padding: 5px;">
                                                                <div class="card">
                                                                    <div class="card-inner">
                                                                        <div class="team">

                                                                            <!-- Name & Role -->
                                                                            <div class="user-card user-card-s2">
                                                                                <div class="user-info">
                                                                                    {% if agent.name_family %}
                                                                                        <h6>{{ agent.name_family }}</h6>
                                                                                    {% else %}
                                                                                        <h6>{{ agent }}</h6>
                                                                                    {% endif %}
                                                                                    <span class="sub-text">نقش: {{ agent.get_title_display }}</span>
                                                                                </div>
                                                                            </div>

                                                                            <!-- Info -->
                                                                            <ul class="team-info">
                                                                                {% if agent.title == 'fp' or agent.title == 'bt' %}
                                                                                    <li><span>تعداد فایل فروش:</span><span>{{ agent.sale_files.count }}</span></li>
                                                                                    <li><span>تعداد فایل اجاره:</span><span>{{ agent.rent_files.count }}</span></li>
                                                                                {% elif agent.title == 'cp' or agent.title == 'bt' %}
                                                                                    <li><span>تعداد خریدار:</span><span>{{ agent.buyers.count }}</span></li>
                                                                                    <li><span>تعداد مستاجر:</span><span>{{ agent.renters.count }}</span></li>
                                                                                {% endif %}
                                                                            </ul>

                                                                            <!-- Link -->
                                                                            <div class="team-view">
                                                                                <a href="{% url 'agent_detail' agent.pk agent.title agent.username %}" class="btn btn-block btn-dim btn-primary" target="_blank">مشاهده مشاور</a>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <!-- end: Agents -->

                                                <!-- Files -->
                                                <div class="project-details mt-5" style="margin-bottom: 2em">
                                                    <div class="project-progress-task mb-2"><em class="icon ni ni-check-round-cut"></em>
                                                        <span>تعداد فایل فروش: {{ sub_district.sale_files.count }}</span>
                                                    </div>
                                                    <div class="project-progress-task"><em class="icon ni ni-check-round-cut"></em>
                                                        <span>تعداد فایل اجاره: {{ sub_district.rent_files.count }}</span>
                                                    </div>
                                                </div>
                                                <!-- end: Files -->

                                                <!-- Customers -->
                                                <div class="project-details mb-5">
                                                    <div class="project-progress-task mb-2"><em class="icon ni ni-check-round-cut"></em>
                                                        <span>تعداد خریدار: {{ sub_district.buyers.count }}</span>
                                                    </div>
                                                    <div class="project-progress-task"><em class="icon ni ni-check-round-cut"></em>
                                                        <span>تعداد مستاجر: {{ sub_district.renters.count }}</span>
                                                    </div>
                                                </div>
                                                <!-- end: Customers -->

                                                <!-- Link -->
                                                <div class="project-progress">
                                                    <div class="project-progress-details">
                                                        <div class="team-view" style="width: 100%">
                                                            <a href="#" class="btn btn-primary justify-center" target="_blank" style="width: 100%">مشاهده تیم</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end; Link -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- Loop -->
                        </div>
                    </div>
                    <!-- end: Teams -->

                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}


