{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}


{% block title %}{% trans 'Dashboard' %}{% endblock %}


{% block content %}
    <!-- Message -->
    <div id="successModal"  class="modal">
        <div class="modal-content">
            <h4 class="modal-title" style="padding: 20px 20px 10px 0;!important;">وظیفه مربوطه از سامانه حذف شد.</h4>
            <button class="modal-my-button">بستن پیام</button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            var messages = "{% for message in messages %}{{ message }}{% if not forloop.last %}\\n{% endif %}{% endfor %}";
            if (messages) {
                $('#modal-message').text(messages);
                $('#successModal').show();
            }
            $('.modal-my-button').on('click', function() {
                $('#successModal').hide();
            });
        });
    </script>
{% endblock %}


