{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load widget_tweaks %}
{% load humanize %}


{% block title %}وظایف مدیریتی{% endblock %}


{% block content %}

    <!-- Message -->
    <div id="successModal" class="modal">
        <div class="modal-content">
            <h4 class="modal-title" style="padding: 20px 20px 10px 0;!important;">تغییرات در سامانه ثبت شد.</h4>
            <button class="modal-my-button">بستن پیام</button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            var messages = "{% for message in messages %}{{ message }}{% if not forloop.last %}\\n{% endif %}{% endfor %}";
            if (messages) {
                $('#modal-message').text(messages);
                $('#successModal').show();
            }
            $('.modal-my-button').on('click', function() {
                $('#successModal').hide();
            });
        });
    </script>
    
    <!-- Main -->
    <div class="nk-block">

        <!-- Title -->
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between position-relative">
                <div class="nk-block-head-content">
                    <h5 class="nk-block-title page-title">وظایف مدیریتی</h5>
                </div>
            </div>
        </div>
        <!-- end: Title -->

        <!-- Boss_Tasks -->
        <div class="row g-gs">
        
            <!-- ّFilter -->
            <div class="col-lg-2">
                <div class="card h-100">
                    <div class="card-inner">
    
                        <!-- Form -->
                        <form id="filter-form" method="get" action="{% url 'boss_task_list' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                        
                            <!-- type -->
                            <div class="form-group">
                                <label class="form-label" for="{{ filter_form.type.id_for_label }}">نوع وظیفه</label>
                                {% render_field filter_form.type type="text" id="type" class="form-control" %}
                            </div>
                            {% if filter_form.type.errors %}
                                {% for error in filter_form.type.errors %}
                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
    
                            <!-- button -->
                            <div class="form-group" style="width: 100%;!important;">
                                <button type="submit" onclick="submitFormAndRefresh()" class="btn btn-primary justify-center" style="width: 100%;!important;">اعمال</button>
                                <a href="{% url 'boss_task_list' %}" class="btn btn-danger justify-center" style="width: 100%;!important; margin-top: 10px;">حذف</a>
                            </div>
                        
                        </form>
                        <!-- end: Form -->
    
                        <!-- JS -->
                        <script>
                            function submitFormAndRefresh() {
                                document.getElementById('filter-form').submit();
                                location.reload();
                            }
                        </script>
                        <!-- end: JS -->
    
                    </div>
                </div>
            </div>
            <!-- end: Filter -->
        
            <!-- List -->
            <div class="col-lg-10">
                <div class="row g-gs">
                    {% for boss_task in boss_tasks %}
                        <div class="col-sm-6 col-lg-6 col-xxl-6">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <div class="project">
        
                                        <!-- Up -->
                                        <div class="project-head"  style="margin-bottom: 1.7em;">
                                            <div class="project-title">
                                                <div class="project-info">
                                                    <h6 class="title" style="margin-bottom: 0.85em;">کد: {{ boss_task.code }}</h6>
                                                    <div style="margin-bottom: 0.6em;">
                                                        <span style="font-size: 0.9em;">نوع: {{ boss_task.get_type_display }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <!-- Detail -->
                                        <div class=" project-head">
                                            <div class="project-title">
                                                <div class="project-info" style="height: 4em;!important; -webkit-line-clamp: 2;!important;">
                                                    {% if boss_task.type == 'sf' %}
                                                        <h6 class="title" style="margin-bottom: 0.7em;">تایید فایل فروش جدید: </h6>
                                                        <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.new_sale_file.title|farsi_number }}</span>
                                                    {% elif boss_task.type == 'rf' %}
                                                        <h6 class="title" style="margin-bottom: 0.7em;">تایید فایل اجاره جدید: </h6>
                                                        <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.new_rent_file.title|farsi_number }}</span>
                                                    {% elif boss_task.type == 'by' %}
                                                        <h6 class="title" style="margin-bottom: 0.7em;">تایید خریدار جدید: </h6>
                                                        <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.new_buyer.name }}</span>
                                                    {% elif boss_task.type == 'rt' %}
                                                        <h6 class="title" style="margin-bottom: 0.7em;">تایید مستاجر جدید: </h6>
                                                        <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.new_renter.name }}</span>
                                                    {% elif boss_task.type == 'ps' %}
                                                        <h6 class="title" style="margin-bottom: 0.7em;">تایید آگهی‌دهنده جدید: </h6>
                                                        <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.new_person.name }}</span>
                                                    {% elif boss_task.type == 'vs' %}
                                                        <h6 class="title" style="margin-bottom: 0.7em;">تایید بازدید جدید: </h6>
                                                        {% if boss_task.new_visit.type == 'sale' %}
                                                            <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.new_visit.sale_file.title }}</span>
                                                        {% elif boss_task.new_visit.type == 'rent' %}
                                                            <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.new_visit.rent_file.title }}</span>
                                                        {% endif %}
                                                    {% elif boss_task.type == 'ss' %}
                                                        <h6 class="title" style="margin-bottom: 0.7em;">تایید نشست جدید: </h6>
                                                        {% if boss_task.new_session.type == 'sale' %}
                                                            <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.new_session.sale_file.title }}</span>
                                                        {% elif boss_task.new_session.type == 'rent' %}
                                                            <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.new_session.rent_file.title }}</span>
                                                        {% endif %}
                                                    {% elif boss_task.type == 'rv' %}
                                                        <h6 class="title" style="margin-bottom: 0.7em;">نتیجه بازدید: </h6>
                                                        {% if boss_task.result_visit.type == 'sale' %}
                                                            <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.result_visit.sale_file.title }}</span>
                                                        {% elif boss_task.result_visit.type == 'rent' %}
                                                            <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.result_visit.rent_file.title }}</span>
                                                        {% endif %}
                                                    {% elif boss_task.type == 'rs' %}
                                                        <h6 class="title" style="margin-bottom: 0.7em;">نتیجه نشست: </h6>
                                                        {% if boss_task.result_session.type == 'sale' %}
                                                            <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.result_session.sale_file.title }}</span>
                                                        {% elif boss_task.result_session.type == 'rent' %}
                                                            <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.result_session.rent_file.title }}</span>
                                                        {% endif %}
                                                    {% elif boss_task.type == 'ts' %}
                                                        <h6 class="title" style="margin-bottom: 0.7em;">بررسی وظیفه تحویل داده شده:</h6>
                                                        <span class="sub-text" style="font-size: 0.85em;">{{ boss_task.ur_task.title|farsi_number }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
        
                                        <!-- Approve - Delete -->
                                        {% if request.user.title == 'bs' or request.user.sub_district == visit.sale_file.sub_district or request.user.sub_district == visit.rent_file.sub_district %}
                                            <div class="project-meta">
                                                <a href="{% url 'boss_task_approve' boss_task.pk boss_task.code %}" class="btn btn-primary justify-center" style="margin-top: 1em;"><em class="icon ni ni-edit"></em><span>تایید</span></a>
                                                <a href="{% url 'boss_task_delete' boss_task.pk boss_task.code %}" class="btn btn-danger justify-center" style="margin-top: 1em;"><em class="icon ni ni-delete"></em><span>حذف</span></a>
                                            </div>
                                        {% endif %}
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- end: List -->

        </div>
        <!-- end: Boss_Tasks -->
    
    </div>
    <!-- end: Main -->
    
    <!-- Pagination -->
    <div class="nk-block-head nk-block-head-lg" style="margin-top: 1.5em;">
        <div class="nk-block-between" style="justify-items: center; justify-content: center; text-align: center">
            <div class="nk-block-head-content">
                <div class="my-profile-pagination" style="margin-top: 1em;">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'boss_task_list' %}?page=1">&laquo; ابتدا</a>
                    {% else %}
                        <span class="my-profile-disabled">&laquo; ابتدا</span>
                    {% endif %}

                    {% if page_obj.has_previous %}
                        <a href="{% url 'boss_task_list' %}?page={{ page_obj.previous_page_number }}">‹ قبلی</a>
                    {% else %}
                        <span class="my-profile-disabled">‹ قبلی</span>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                            <span class="my-profile-current">{{ num }}</span>
                        {% else %}
                            <a href="{% url 'boss_task_list' %}?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="{% url 'boss_task_list' %}?page={{ page_obj.next_page_number }}">بعدی ›</a>
                    {% else %}
                        <span class="my-profile-disabled">بعدی ›</span>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <a href="{% url 'boss_task_list' %}?page={{ page_obj.paginator.num_pages }}">انتها &raquo;</a>
                    {% else %}
                        <span class="my-profile-disabled">انتها &raquo;</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- end: Pagination -->

{% endblock %}


