{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load humanize %}
{% load widget_tweaks %}


{% block title %}
    {% trans 'Rent Files' %}
{% endblock %}


{% block content %}
    <div class="nk-fmg">

        <!-- ّFilter -->
        <div class="nk-fmg-aside" data-content="files-aside" data-toggle-overlay="true" data-toggle-body="true" data-toggle-screen="lg" data-simplebar>
            <div class="nk-fmg-aside-wrap">
                <div class="nk-fmg-aside-top" data-simplebar>
                    <div class="nk-block nk-block-lg">
                        <div class="row g-gs">
                            <div class="col-lg-12">
                                <div class="card h-100">
                                    <div class="card-inner">

                                        <!-- Form -->
                                        <form id="filter-form" method="get" action="{% url 'rent_file_list' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
    
                                            <!-- province -->
                                            {% if request.user.title == 'bs' %}
                                                <div class="form-group">
                                                    <label class="form-label" for="{{ filter_form.province.id_for_label }}">استان</label>
                                                    {% render_field filter_form.province type="text" id="province" class="form-control" %}
                                                </div>
                                                {% if filter_form.province.errors %}
                                                    {% for error in filter_form.province.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                            
                                            <!-- city -->
                                            {% if request.user.title == 'bs' %}
                                                <div class="form-group">
                                                    <label class="form-label" for="{{ filter_form.city.id_for_label }}">شهر</label>
                                                    {% render_field filter_form.city type="text" id="city" class="form-control" %}
                                                </div>
                                                {% if filter_form.city.errors %}
                                                    {% for error in filter_form.city.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                            
                                            <!-- district -->
                                            {% if request.user.title == 'bs' %}
                                                <div class="form-group">
                                                    <label class="form-label" for="{{ filter_form.district.id_for_label }}">محله</label>
                                                    {% render_field filter_form.district type="text" id="district" class="form-control" %}
                                                </div>
                                                {% if filter_form.district.errors %}
                                                    {% for error in filter_form.district.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                            
                                            <!-- sub_district -->
                                            {% if request.user.title == 'bs' %}
                                                <div class="form-group">
                                                    <label class="form-label" for="{{ filter_form.sub_district.id_for_label }}">زیرمحله</label>
                                                    {% render_field filter_form.sub_district type="text" id="sub_district" class="form-control" %}
                                                </div>
                                                {% if filter_form.sub_district.errors %}
                                                    {% for error in filter_form.sub_district.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                        
                                            <!-- source -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.source.id_for_label }}">منبع آگهی</label>
                                                {% render_field filter_form.source type="text" id="source" class="form-control" %}
                                            </div>
                                            {% if filter_form.source.errors %}
                                                {% for error in filter_form.source.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- person -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.person.id_for_label }}">فرد آگهی‌دهنده</label>
                                                {% render_field filter_form.person type="text" id="person" class="form-control" %}
                                            </div>
                                            {% if filter_form.person.errors %}
                                                {% for error in filter_form.person.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- max_deposit -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.max_deposit.id_for_label }}">حداکثر رهن</label>
                                                {% render_field filter_form.max_deposit type="number" id="max_deposit" class="form-control" %}
                                            </div>
                                            {% if filter_form.max_deposit.errors %}
                                                {% for error in filter_form.max_deposit.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- min_deposit -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.min_deposit.id_for_label }}">حداقل رهن</label>
                                                {% render_field filter_form.min_deposit type="number" id="min_deposit" class="form-control" %}
                                            </div>
                                            {% if filter_form.min_deposit.errors %}
                                                {% for error in filter_form.min_deposit.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- max_rent -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.max_rent.id_for_label }}">حداکثر اجاره</label>
                                                {% render_field filter_form.max_rent type="number" id="max_rent" class="form-control" %}
                                            </div>
                                            {% if filter_form.max_rent.errors %}
                                                {% for error in filter_form.max_rent.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- min_rent -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.min_rent.id_for_label }}">حداقل اجاره</label>
                                                {% render_field filter_form.min_rent type="number" id="min_rent" class="form-control" %}
                                            </div>
                                            {% if filter_form.min_rent.errors %}
                                                {% for error in filter_form.min_rent.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- convertable -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.convertable.id_for_label }}">قابل تبدیل (رهن و اجاره)</label>
                                                {% render_field filter_form.convertable type="text" id="convertable" class="form-control" %}
                                            </div>
                                            {% if filter_form.convertable.errors %}
                                                {% for error in filter_form.convertable.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- max_area -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.max_area.id_for_label }}">حداکثر متراژ</label>
                                                {% render_field filter_form.max_area type="number" id="max_area" class="form-control" %}
                                            </div>
                                            {% if filter_form.max_area.errors %}
                                                {% for error in filter_form.max_area.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- min_area -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.min_area.id_for_label }}">حداقل متراژ</label>
                                                {% render_field filter_form.min_area type="number" id="min_area" class="form-control" %}
                                            </div>
                                            {% if filter_form.min_area.errors %}
                                                {% for error in filter_form.min_area.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- max_room -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.max_room.id_for_label }}">حداکثر تعداد اتاق</label>
                                                {% render_field filter_form.max_room type="text" id="max_room" class="form-control" %}
                                            </div>
                                            {% if filter_form.max_room.errors %}
                                                {% for error in filter_form.max_room.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- min_room -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.min_room.id_for_label }}">حداقل تعداد اتاق</label>
                                                {% render_field filter_form.min_room type="text" id="min_room" class="form-control" %}
                                            </div>
                                            {% if filter_form.min_room.errors %}
                                                {% for error in filter_form.min_room.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- max_age -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.max_age.id_for_label }}">حداکثر سن</label>
                                                {% render_field filter_form.max_age type="text" id="max_age" class="form-control" %}
                                            </div>
                                            {% if filter_form.max_age.errors %}
                                                {% for error in filter_form.max_age.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- min_age -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.min_age.id_for_label }}">حداقل سن</label>
                                                {% render_field filter_form.min_age type="text" id="min_age" class="form-control" %}
                                            </div>
                                            {% if filter_form.min_age.errors %}
                                                {% for error in filter_form.min_age.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- max_level -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.max_level.id_for_label }}">حداکثر طبقه</label>
                                                {% render_field filter_form.max_level type="text" id="max_level" class="form-control" %}
                                            </div>
                                            {% if filter_form.max_level.errors %}
                                                {% for error in filter_form.max_level.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- min_level -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.min_level.id_for_label }}">حداقل طبقه</label>
                                                {% render_field filter_form.min_level type="text" id="min_level" class="form-control" %}
                                            </div>
                                            {% if filter_form.min_level.errors %}
                                                {% for error in filter_form.min_level.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- document -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.document.id_for_label }}">وضعیت سند</label>
                                                {% render_field filter_form.document type="text" id="document" class="form-control" %}
                                            </div>
                                            {% if filter_form.document.errors %}
                                                {% for error in filter_form.document.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- parking -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.parking.id_for_label }}">وضعیت پارکینگ</label>
                                                {% render_field filter_form.parking type="text" id="parking" class="form-control" %}
                                            </div>
                                            {% if filter_form.parking.errors %}
                                                {% for error in filter_form.parking.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- elevator -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.elevator.id_for_label }}">وضعیت آسانسور</label>
                                                {% render_field filter_form.elevator type="text" id="elevator" class="form-control" %}
                                            </div>
                                            {% if filter_form.elevator.errors %}
                                                {% for error in filter_form.elevator.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- warehouse -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.warehouse.id_for_label }}">وضعیت انباری</label>
                                                {% render_field filter_form.warehouse type="text" id="warehouse" class="form-control" %}
                                            </div>
                                            {% if filter_form.warehouse.errors %}
                                                {% for error in filter_form.warehouse.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- images -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.has_images.id_for_label }}">عکس داشته باشد؟</label>
                                                {% render_field filter_form.has_images type="text" id="has_images" class="form-control" %}
                                            </div>
                                            {% if filter_form.has_images.errors %}
                                                {% for error in filter_form.has_images.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <!-- video -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.has_video.id_for_label }}">ویدئو معرفی داشته باشد؟</label>
                                                {% render_field filter_form.has_video type="text" id="has_video" class="form-control" %}
                                            </div>
                                            {% if filter_form.has_video.errors %}
                                                {% for error in filter_form.has_video.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- button -->
                                            <div class="form-group">
                                                <button type="submit" onclick="submitFormAndRefresh()" class="btn btn-primary justify-center" style="width: 100%;!important;">اعمال فیلتر</button>
                                                <a href="{% url 'rent_file_list' %}" class="btn btn-danger justify-center" style="width: 100%;!important; margin-top: 10px;">حذف فیلترها</a>
                                            </div>
                                        </form>
                                        <!-- end: Form -->
                                        
                                        <!-- JS for filter Form -->
                                        <script>
                                            function submitFormAndRefresh() {
                                                document.getElementById('filter-form').submit();
                                                location.reload();
                                            }
                                        </script>
        
                                        <script>
                                            document.addEventListener('DOMContentLoaded', function() {
                                                const province = document.getElementById('province').value;
                                                const city = document.getElementById('city').value;
        
                                                if (province) {
                                                    updateCities(province);
                                                }
                                                if (city) {
                                                    updateDistricts(city);
                                                }
                                            });
        
                                            function updateCities(provinceId) {
                                                const url = `/get-cities/?province_id=${provinceId}`;
                                                fetch(url)
                                                    .then(response => response.json())
                                                    .then(data => {
                                                        const citySelect = document.getElementById('city');
                                                        citySelect.innerHTML = '<option value="">Select City</option>';
                                                        data.cities.forEach(city => {
                                                            citySelect.innerHTML += `<option value="${city.id}">${city.name}</option>`;
                                                        });
        
                                                        const selectedCity = '{{ request.GET.city }}';
                                                        if (selectedCity) {
                                                            citySelect.value = selectedCity;
                                                        }
                                                    });
                                            }
        
                                            function updateDistricts(cityId) {
                                                const url = `/get-districts/?city_id=${cityId}`;
                                                fetch(url)
                                                    .then(response => response.json())
                                                    .then(data => {
                                                        const districtSelect = document.getElementById('district');
                                                        districtSelect.innerHTML = '<option value="">Select District</option>';
                                                        data.districts.forEach(district => {
                                                            districtSelect.innerHTML += `<option value="${district.id}">${district.name}</option>`;
                                                        });
        
                                                        const selectedDistrict = '{{ request.GET.district }}';
                                                        if (selectedDistrict) {
                                                            districtSelect.value = selectedDistrict;
                                                        }
                                                    });
                                            }
        
                                            function submitFormAndRefresh() {
                                                document.getElementById('filter-form').submit();
                                                location.reload();
                                            }
                                        </script>
                                        <!-- end: JS for filter Form -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Filter -->

        <!-- Main -->
        <div class="nk-fmg-body">

            <!-- File create message -->
            <div id="successModal"  class="modal">
                <div class="modal-content">
                    <h5 class="modal-title" style="padding: 20px 20px 10px 0;!important;">عملیات با موفقیت انجام شد (عملیات مربوطه توسط مدیر بررسی خواهد شد).</h5>
                    <button class="modal-my-button">بستن پیام</button>
                </div>
            </div>
            <script>
                $(document).ready(function() {
                    var messages = "{% for message in messages %}{{ message }}{% if not forloop.last %}\\n{% endif %}{% endfor %}";
                    if (messages) {
                        $('#modal-message').text(messages);
                        $('#successModal').show();
                    }
                    $('.modal-my-button').on('click', function() {
                        $('#successModal').hide();
                    });
                });
            </script>
            <!-- end: File create message -->

            <!-- Upper Navbar -->
            <div class=" nk-fmg-body-head d-none d-lg-flex" >

                <!-- Search -->
                <div class="nk-fmg-search">
                    <em class="icon ni ni-search"></em>
                    <input type="text" class="form-control border-transparent form-focus-none" placeholder="جستجو در میان فایل‌ها"/>
                </div>

                <!-- Add Link -->
                <div class="nk-fmg-actions">
                    <ul class="nk-block-tools g-3">
                        <li>
                            <a href="{% url 'rent_file_create' %}" class="btn btn-primary"><em class="icon ni ni-plus"></em><span>ایجاد فایل جدید</span></a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- end: Upper Navbar -->

            <!-- List -->
            <div class=" nk-fmg-body-content">

                <!-- Upper + Mobile -->
                <div class="nk-block-head nk-block-head-sm" style="margin-bottom: 1.2em;">
                    <div class="nk-block-between position-relative">

                        <!-- Title -->
                        <div class="nk-block-head-content">
                            <h5 class="nk-block-title page-title">فایل‌های اجاره</h5>
                        </div>

                        <!-- Mobile Navbar -->
                        <div class="nk-block-head-content">
                            <ul class="nk-block-tools g-1">

                                <!-- Search -->
                                <li class="d-lg-none">
                                    <a href="#" class="btn btn-trigger btn-icon search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a>
                                </li>

                                <!-- Add Link -->
                                <li class="d-lg-none">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="{% url 'rent_file_create' %}"><em class="icon ni ni-upload-cloud"></em><span>ایجاد فایل جدید</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <!-- Filter Navigator -->
                                <li class="d-lg-none me-n1">
                                    <a href="#" class="btn btn-trigger btn-icon toggle" data-target="files-aside"><em class="icon ni ni-menu-alt-r"></em></a>
                                </li>

                            </ul>
                        </div>

                        <!-- Mobile Search Box -->
                        <div class="search-wrap px-2 d-lg-none" data-search="search">
                            <div class="search-content">
                                <a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                <input type="text" class="form-control border-transparent form-focus-none" placeholder="جستجو در میان فایل‌ها"/>
                                <button class="search-submit btn btn-icon">
                                    <em class="icon ni ni-search"></em>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end: Upper + Mobile -->

                <!-- Files -->
                <div class="nk-fmg-quick-list nk-block">
                    <div class="toggle-expand-content expanded" data-content="quick-access">
                        <div class="nk-files nk-files-view-grid">
                            <div class="nk-files-list">

                                <!-- Loop -->
                                {% for file in rent_files %}
                                    {% if file.status == 'acc' %}
                                        <div class="nk-file-item nk-file">
                                            <div class="nk-file-info">
                                                <div class="nk-file-title">
    
                                                    <!-- Code / Sub-district -->
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text" style="margin-bottom: 0.5em; height: 3em;!important; -webkit-line-clamp: 2;!important;">
                                                            <span style="font-size: 0.8em;">کد: {{ file.code }} / <span style="color: green; font-size: 1.1em;">{{ file.sub_district }}</span></span>
                                                        </div>
                                                    </div>
    
                                                    <!-- Cover -->
                                                    <a href="{{ file.get_absolute_url }}" class="nk-file-link">
                                                        <div class="nk-file-icon">
                                                            <figure class="product-image--holder" style="height: 12.3em;!important; -webkit-line-clamp: 12.3;!important;">
                                                                {% if file.image1 %}
                                                                    <img src="{{ file.image1.url }}" alt="File Cover" style="height: 12.3em;!important; -webkit-line-clamp: 12.3;!important;">
                                                                {% else %}
                                                                    <img src="{% static 'dashboard/images/blank_file.jpg' %}" alt="File Cover" style="height: 12.3em;!important; -webkit-line-clamp: 12.3;!important;">
                                                                {% endif %}
                                                            </figure>
                                                        </div>
                                                    </a>
    
                                                    <!-- Title -->
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text" style="height: 4em;!important; -webkit-line-clamp: 2;!important;">
                                                            <span class="title" style="font-size: 0.9em;">{{ file.title|linebreaksbr|farsi_number }}</span>
                                                        </div>
                                                    </div>
    
                                                    <!-- Deposit -->
                                                    <div class="nk-file-name">
                                                        <span class="title" style="font-size: 0.8em; color: green;">رهن: {{ file.deposit_announced|intcomma:False|farsi_number }} تومان</span>
                                                    </div>
                                                
                                                    <!-- Rent -->
                                                    <div class="nk-file-name">
                                                        <span class="title" style="font-size: 0.8em; color: green;">اجاره: {{ file.rent_announced|intcomma:False|farsi_number }} تومان</span>
                                                    </div>
    
                                                    <!-- More -->
                                                    <a href="{{ file.get_absolute_url }}" class="btn btn-primary" style="margin-top: 1em;"><em class="icon ni ni-eye"></em><span>مشاهده</span></a>
    
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Files -->

            </div>
            <!-- end: List -->
        
            <!-- Pagination -->
            <div class="nk-block-head  nk-block-head-lg" style="margin-top: 1.5em;">
                <div class="nk-block-between" style="justify-items: center; justify-content: center; text-align: center">
                    <div class="nk-block-head-content">
                        <div class="my-profile-pagination" style="margin-top: 1em;">
                            {% if page_obj.has_previous %}
                                <a href="{% url 'rent_file_list' %}?page=1">&laquo; ابتدا</a>
                            {% else %}
                                <span class="my-profile-disabled">&laquo; ابتدا</span>
                            {% endif %}

                            {% if page_obj.has_previous %}
                                <a href="{% url 'rent_file_list' %}?page={{ page_obj.previous_page_number }}">‹ قبلی</a>
                            {% else %}
                                <span class="my-profile-disabled">‹ قبلی</span>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if num == page_obj.number %}
                                    <span class="my-profile-current">{{ num }}</span>
                                {% else %}
                                    <a href="{% url 'rent_file_list' %}?page={{ num }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <a href="{% url 'rent_file_list' %}?page={{ page_obj.next_page_number }}">بعدی ›</a>
                            {% else %}
                                <span class="my-profile-disabled">بعدی ›</span>
                            {% endif %}

                            {% if page_obj.has_next %}
                                <a href="{% url 'rent_file_list' %}?page={{ page_obj.paginator.num_pages }}">انتها &raquo;</a>
                            {% else %}
                                <span class="my-profile-disabled">انتها &raquo;</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Pagination -->

        </div>
        <!-- end: Main -->

    </div>
{% endblock %}






