{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load humanize %}
{% load widget_tweaks %}


{% block title %}ایجاد فایل جدید{% endblock %}


{% block content %}
    
    <!-- Messages2 -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Main -->
    <div class="components-preview wide-md mx-auto">
        <div class="nk-block nk-block-lg">
            <div class="card card-bordered card-preview">
                <div class="card-inner" >
                    <div class="preview-block" >

                        <!-- Title -->
                        <div class="nk-block-head nk-block-head-lg wide-sm">
                            <div class="nk-block-head-content">
                                <h6 class="nk-block-title page-title" style="line-height: 45px;">ایجاد فایل جدید (رهن و اجاره)</h6>
                            </div>
                        </div>
                        <!-- end: Title -->

                        <!-- Form -->
                        <form class="row gy-4" method="post"  enctype="multipart/form-data" novalidate>
                            {% csrf_token %}

                            <!-- title -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.title.id_for_label }}">عنوان آگهی</label>
                                        {% render_field form.title id="title" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.title.errors %}
                                        {% for error in form.title.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- source -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.source.id_for_label }}">منبع آگهی</label>
                                        {% render_field form.source id="source" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.source.errors %}
                                        {% for error in form.source.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- person -->
                            <div class="col-lg-5 col-sm-5">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.person.id_for_label }}">شخص آگهی‌دهنده (اگر منبع شخص بوده)</label>
                                        {% render_field form.person id="person" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.person.errors %}
                                        {% for error in form.person.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- deposit_announced -->
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.deposit_announced.id_for_label }}">رهن اعلامی (تومان)</label>
                                        {% render_field form.deposit_announced id="deposit_announced" type="number" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.deposit_announced.errors %}
                                        {% for error in form.deposit_announced.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- deposit_min -->
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.deposit_min.id_for_label }}">حداقل رهن (تومان)</label>
                                        {% render_field form.deposit_min id="deposit_min" type="number" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.deposit_min.errors %}
                                        {% for error in form.deposit_min.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- rent_announced -->
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.rent_announced.id_for_label }}">اجاره اعلامی (تومان)</label>
                                        {% render_field form.rent_announced id="rent_announced" type="number" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.rent_announced.errors %}
                                        {% for error in form.rent_announced.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- rent_min -->
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.rent_min.id_for_label }}">حداقل اجاره (تومان)</label>
                                        {% render_field form.rent_min id="rent_min" type="number" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.rent_min.errors %}
                                        {% for error in form.rent_min.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- province -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.province.id_for_label }}">استان</label>
                                        {% render_field form.province id="province" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.province.errors %}
                                        {% for error in form.province.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- city -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.city.id_for_label }}">شهر</label>
                                        {% render_field form.city id="city" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.city.errors %}
                                        {% for error in form.city.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- district -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.district.id_for_label }}">منطقه (محله)</label>
                                        {% render_field form.district id="district" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.district.errors %}
                                        {% for error in form.district.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- sub_district -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.sub_district.id_for_label }}">زیرمحله</label>
                                        {% render_field form.sub_district id="sub_district" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.sub_district.errors %}
                                        {% for error in form.sub_district.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- convertable -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.convertable.id_for_label }}">قابل تبدیل</label>
                                        {% render_field form.convertable id="convertable" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.convertable.errors %}
                                        {% for error in form.convertable.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- area -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.area.id_for_label }}">متراژ (متر)</label>
                                        {% render_field form.area id="area" type="number" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.area.errors %}
                                        {% for error in form.area.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- room -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.room.id_for_label }}">تعداد اتاق</label>
                                        {% render_field form.room id="room" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.room.errors %}
                                        {% for error in form.room.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- age -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.age.id_for_label }}">سن آپارتمان</label>
                                        {% render_field form.age id="age" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.age.errors %}
                                        {% for error in form.age.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- level -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.level.id_for_label }}">طبقه آپارتمان</label>
                                        {% render_field form.level id="level" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.level.errors %}
                                        {% for error in form.level.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- document -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.document.id_for_label }}">وضعیت سند</label>
                                        {% render_field form.document id="document" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.document.errors %}
                                        {% for error in form.document.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- parking -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.parking.id_for_label }}">وضعیت پارکینگ</label>
                                        {% render_field form.parking id="parking" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.parking.errors %}
                                        {% for error in form.parking.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- elevator -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.elevator.id_for_label }}">وضعیت آسانسور</label>
                                        {% render_field form.elevator id="elevator" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.elevator.errors %}
                                        {% for error in form.elevator.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- warehouse -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.warehouse.id_for_label }}">وضعیت انباری</label>
                                        {% render_field form.warehouse id="warehouse" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.warehouse.errors %}
                                        {% for error in form.warehouse.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- address -->
                            <div class="col-lg-5 col-sm-5">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.address.id_for_label }}">آدرس فایل</label>
                                        {% render_field form.address id="address" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.address.errors %}
                                        {% for error in form.address.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- description -->
                            <div class="col-lg-7 col-sm-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.description.id_for_label }}">توضیحات آگهی</label>
                                        {% render_field form.description id="description" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.description.errors %}
                                        {% for error in form.description.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- spacer -->
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label"></label>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Images (all) -->
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label">آپلود تمام تصاویر (حداکثر 9 عکس)</label>
                                        <input type="file" id="multi-image-upload" multiple accept="image/*"
                                               class="form-control form-control-xl form-control-outlined"
                                               style="margin-bottom: 10px;">

                                        <div id="image-preview-container" style="margin-top: 15px; display: none;">
                                            <div style="display: flex; flex-wrap: wrap; gap: 10px;" id="image-previews"></div>
                                            <button type="button" id="assign-images-btn" class="btn btn-success" style="margin-top: 10px;">
                                                ثبت نهایی تصاویر
                                            </button>
                                            <button type="button" id="clear-images-btn" class="btn btn-outline-danger" style="margin-top: 10px; margin-right: 10px;">
                                                پاک کردن همه
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        
                            <!-- image1 -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.image1.id_for_label }}">عکس اول</label>
                                        {% render_field form.image1 id="image1" type="file" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.image1.errors %}
                                        {% for error in form.image1.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- image2 -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.image2.id_for_label }}">عکس دوم</label>
                                        {% render_field form.image2 id="image2" type="file" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.image2.errors %}
                                        {% for error in form.image2.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- image3 -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.image3.id_for_label }}">عکس سوم</label>
                                        {% render_field form.image3 id="image3" type="file" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.image3.errors %}
                                        {% for error in form.image3.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- image4 -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.image4.id_for_label }}">عکس چهارم</label>
                                        {% render_field form.image4 id="image4" type="file" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.image4.errors %}
                                        {% for error in form.image4.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- image5 -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.image5.id_for_label }}">عکس پنجم</label>
                                        {% render_field form.image5 id="image5" type="file" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.image5.errors %}
                                        {% for error in form.image5.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- image6 -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.image6.id_for_label }}">عکس ششم</label>
                                        {% render_field form.image6 id="image6" type="file" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.image6.errors %}
                                        {% for error in form.image6.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- image7 -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.image7.id_for_label }}">عکس هفتم</label>
                                        {% render_field form.image7 id="image7" type="file" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.image7.errors %}
                                        {% for error in form.image7.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- image8 -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.image8.id_for_label }}">عکس هشتم</label>
                                        {% render_field form.image8 id="image8" type="file" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.image8.errors %}
                                        {% for error in form.image8.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- image9 -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.image9.id_for_label }}">عکس نهم</label>
                                        {% render_field form.image9 id="image9" type="file" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.image9.errors %}
                                        {% for error in form.image9.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Images (JS) -->
                            <script>
                                document.addEventListener('DOMContentLoaded', function() {
                                    const multiImageUpload = document.getElementById('multi-image-upload');
                                    const previewContainer = document.getElementById('image-preview-container');
                                    const previewsDiv = document.getElementById('image-previews');
                                    const assignBtn = document.getElementById('assign-images-btn');
                                    const clearBtn = document.getElementById('clear-images-btn');
                                    const individualFields = document.getElementById('individual-image-fields');

                                    let selectedFiles = [];

                                    // Handle multi-image selection
                                    multiImageUpload.addEventListener('change', function(e) {
                                        const files = Array.from(e.target.files);

                                        // Limit to 9 images
                                        if (files.length > 9) {
                                            alert('حداکثر 9 عکس می‌توانید انتخاب کنید');
                                            return;
                                        }

                                        selectedFiles = files;
                                        showImagePreviews(files);
                                    });

                                    // Show image previews
                                    function showImagePreviews(files) {
                                        previewsDiv.innerHTML = '';

                                        if (files.length === 0) {
                                            previewContainer.style.display = 'none';
                                            return;
                                        }

                                        previewContainer.style.display = 'block';

                                        files.forEach((file, index) => {
                                            const reader = new FileReader();
                                            reader.onload = function(e) {
                                                const previewDiv = document.createElement('div');
                                                previewDiv.style.cssText = 'position: relative; display: inline-block;';
                                                previewDiv.innerHTML = `
                                                    <img src="${e.target.result}" style="width: 80px; height: 80px; object-fit: cover; border-radius: 4px; border: 1px solid #ddd;">
                                                    <div style="position: absolute; top: -5px; right: -5px; background: #007bff; color: white; border-radius: 50%; width: 20px; height: 20px; display: flex; align-items: center; justify-content: center; font-size: 12px; font-weight: bold;">
                                                        ${index + 1}
                                                    </div>
                                                `;
                                                previewsDiv.appendChild(previewDiv);
                                            };
                                            reader.readAsDataURL(file);
                                        });
                                    }

                                    // Assign images to individual fields
                                    assignBtn.addEventListener('click', function() {
                                        if (selectedFiles.length === 0) return;

                                        // Clear all existing image fields
                                        for (let i = 1; i <= 9; i++) {
                                            const field = document.getElementById(`image${i}`);
                                            if (field) {
                                                field.value = '';
                                            }
                                        }

                                        // Create new file input elements and assign files
                                        selectedFiles.forEach((file, index) => {
                                            const fieldId = `image${index + 1}`;
                                            const field = document.getElementById(fieldId);

                                            if (field) {
                                                // Create a new FileList with single file
                                                const dataTransfer = new DataTransfer();
                                                dataTransfer.items.add(file);
                                                field.files = dataTransfer.files;

                                                // Visual feedback - highlight assigned fields
                                                const fieldContainer = field.closest('.col-lg-3, .col-lg-4, .col-sm-3, .col-sm-4');
                                                if (fieldContainer) {
                                                    fieldContainer.style.backgroundColor = '#e8f5e8';
                                                    fieldContainer.style.border = '2px solid #28a745';
                                                    fieldContainer.style.borderRadius = '8px';

                                                    // Add assigned indicator
                                                    const label = fieldContainer.querySelector('.form-label');
                                                    if (label && !label.querySelector('.assigned-indicator')) {
                                                        const indicator = document.createElement('span');
                                                        indicator.className = 'assigned-indicator';
                                                        indicator.style.cssText = 'color: #28a745; margin-right: 5px; font-weight: bold;';
                                                        indicator.textContent = '✓';
                                                        label.appendChild(indicator);
                                                    }
                                                }
                                            }
                                        });

                                        // Hide multi-upload section and show success message
                                        multiImageUpload.style.display = 'none';
                                        previewContainer.innerHTML = `
                                            <div style="background: #d4edda; border: 1px solid #c3e6cb; border-radius: 4px; padding: 10px; color: #155724;">
                                                <strong>✓ ${selectedFiles.length} عکس با موفقیت تخصیص داده شد</strong>
                                                <button type="button" id="reset-upload" class="btn btn-sm btn-outline-secondary" style="margin-right: 10px;">
                                                    تغییر انتخاب
                                                </button>
                                            </div>
                                        `;

                                        // Add reset functionality
                                        document.getElementById('reset-upload').addEventListener('click', resetUpload);
                                    });

                                    // Clear all images
                                    clearBtn.addEventListener('click', function() {
                                        selectedFiles = [];
                                        multiImageUpload.value = '';
                                        previewContainer.style.display = 'none';
                                    });

                                    // Reset upload function
                                    function resetUpload() {
                                        // Clear all image fields
                                        for (let i = 1; i <= 9; i++) {
                                            const field = document.getElementById(`image${i}`);
                                            if (field) {
                                                field.value = '';
                                            }

                                            // Remove visual feedback
                                            const fieldContainer = field.closest('.col-lg-3, .col-lg-4, .col-sm-3, .col-sm-4');
                                            if (fieldContainer) {
                                                fieldContainer.style.backgroundColor = '';
                                                fieldContainer.style.border = '';
                                                fieldContainer.style.borderRadius = '';

                                                // Remove assigned indicator
                                                const indicator = fieldContainer.querySelector('.assigned-indicator');
                                                if (indicator) {
                                                    indicator.remove();
                                                }
                                            }
                                        }

                                        // Reset multi-upload section
                                        selectedFiles = [];
                                        multiImageUpload.value = '';
                                        multiImageUpload.style.display = 'block';
                                        previewContainer.style.display = 'none';
                                    }
                                });
                            </script>

                            <!-- video -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.video.id_for_label }}">ویدئو معرفی</label>
                                        {% render_field form.video id="video" type="file" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.video.errors %}
                                        {% for error in form.video.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- spacer -->
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label"></label>
                                    </div>
                                </div>
                            </div>

                            <!-- direction -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.direction.id_for_label }}">جهت آپارتمان</label>
                                        {% render_field form.direction id="direction" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.direction.errors %}
                                        {% for error in form.direction.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- file_levels -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.file_levels.id_for_label }}">تعداد طبقات ساختمان</label>
                                        {% render_field form.file_levels id="file_levels" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.file_levels.errors %}
                                        {% for error in form.file_levels.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- apartments_per_level -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.apartments_per_level.id_for_label }}">تعداد واحد در طبقه</label>
                                        {% render_field form.apartments_per_level id="apartments_per_level" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.apartments_per_level.errors %}
                                        {% for error in form.apartments_per_level.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- restoration -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.restoration.id_for_label }}">وضعیت بازسازی</label>
                                        {% render_field form.restoration id="restoration" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.restoration.errors %}
                                        {% for error in form.restoration.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- bench_stove -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.bench_stove.id_for_label }}">گاز رومیزی</label>
                                        {% render_field form.bench_stove id="bench_stove" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.bench_stove.errors %}
                                        {% for error in form.bench_stove.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- balcony -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.balcony.id_for_label }}">بالکن</label>
                                        {% render_field form.balcony id="balcony" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.balcony.errors %}
                                        {% for error in form.balcony.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- floor -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.floor.id_for_label }}">وضعیت کف</label>
                                        {% render_field form.floor id="floor" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.flooe.errors %}
                                        {% for error in form.flooe.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- toilet -->
                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.toilet.id_for_label }}">سرویس یهداشتی</label>
                                        {% render_field form.toilet id="toilet" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.toilet.errors %}
                                        {% for error in form.toilet.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- hot_water -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.hot_water.id_for_label }}">سیستم تامین آب گرم</label>
                                        {% render_field form.hot_water id="hot_water" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.hot_water.errors %}
                                        {% for error in form.hot_water.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- heating -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.heating.id_for_label }}">سیستم گرمایش</label>
                                        {% render_field form.heating id="heating" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.heating.errors %}
                                        {% for error in form.heating.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- cooling -->
                            <div class="col-lg-4 col-sm-4">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <label class="form-label" for="{{ form.cooling.id_for_label }}">سیستم سرمایش</label>
                                        {% render_field form.cooling id="cooling" type="text" class="form-control form-control-xl form-control-outlined" %}
                                    </div>
                                    {% if form.cooling.errors %}
                                        {% for error in form.cooling.errors %}
                                            <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Submit -->
                            <div class="nk-fmg-actions" style="margin-top: 3em;">
                                <button type="submit" class="btn btn-primary" style="line-height: 30px;">ثبت اطلاعات</button>
                            </div>

                        </form>
                        <!-- end: Form -->    
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


