{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load humanize %}
{% load widget_tweaks %}



{% block title %}
    {% trans 'Sale Files' %}
{% endblock %}



{% block content %}
    <div class="nk-fmg">

        <!-- ّFilter -->
        <div class="nk-fmg-aside" data-content="files-aside" data-toggle-overlay="true"  data-toggle-body="true" data-toggle-screen="lg" data-simplebar>
            <div class="nk-fmg-aside-wrap">
                <div class="nk-fmg-aside-top" data-simplebar>
                    <ul class="nk-fmg-menu">
                        <li class="active">
                            <a class="nk-fmg-menu-item" href="#">
                                <em class="icon ni ni-home-alt"></em>
                                <span class="nk-fmg-menu-text">صفحه اصلی</span>
                            </a>
                        </li>
                        <li>
                            <a class="nk-fmg-menu-item" href="#">
                                <em class="icon ni ni-file-docs"></em>
                                <span class="nk-fmg-menu-text">فایل ها</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="#" class="nk-fmg-menu-item"><span class="nk-fmg-menu-text">فایل های جدید</span></a>
                                </li>
                                <li>
                                    <a href="#" class="nk-fmg-menu-item"><span class="nk-fmg-menu-text">این ماه</span></a>
                                </li>
                                <li>
                                    <a href="#" class="nk-fmg-menu-item"><span class="nk-fmg-menu-text">فایل های قدیمی</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nk-fmg-menu-item" href="#">
                                <em class="icon ni ni-star"></em>
                                <span class="nk-fmg-menu-text">ستاره دار</span>
                            </a>
                        </li>
                        <li>
                            <a class="nk-fmg-menu-item" href="#">
                                <em class="icon ni ni-share-alt"></em>
                                <span class="nk-fmg-menu-text">به اشتراک گذاری شده</span>
                            </a>
                        </li>
                        <li>
                            <a class="nk-fmg-menu-item" href="#">
                                <em class="icon ni ni-trash-alt"></em>
                                <span class="nk-fmg-menu-text">بازیابی</span>
                            </a>
                        </li>
                        <li>
                            <a class="nk-fmg-menu-item" href="#">
                                <em class="icon ni ni-setting-alt"></em>
                                <span class="nk-fmg-menu-text">تنظیمات</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end: Filter -->

        <!-- Main -->
        <div class="nk-fmg-body">

            <!-- Upper Navbar -->
            <div class="nk-fmg-body-head d-none d-lg-flex">

                <!-- Search -->
                <div class="nk-fmg-search">
                    <em class="icon ni ni-search"></em>
                    <input type="text" class="form-control border-transparent form-focus-none" placeholder="جستجو در میان فایل‌ها"/>
                </div>

                <!-- Add Link -->
                <div class="nk-fmg-actions">
                    <ul class="nk-block-tools g-3">
                        <li>
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal"><em class="icon ni ni-plus"></em><span>ایجاد فایل جدید</span></a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- end: Upper Navbar -->

            <!-- List -->
            <div class="nk-fmg-body-content">

                <!-- Upper + Mobile -->
                <div class="nk-block-head nk-block-head-sm" style="margin-bottom: 1.2em;">
                    <div class="nk-block-between position-relative">

                        <!-- Title -->
                        <div class="nk-block-head-content">
                            <h5 class="nk-block-title page-title">فایل‌های فروش</h5>
                        </div>

                        <!-- Mobile Navbar -->
                        <div class="nk-block-head-content">
                            <ul class="nk-block-tools g-1">

                                <!-- Search -->
                                <li class="d-lg-none">
                                    <a href="#" class="btn btn-trigger btn-icon search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a>
                                </li>

                                <!-- Add Link -->
                                <li class="d-lg-none">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="#" data-bs-toggle="modal"><em class="icon ni ni-upload-cloud"></em><span>ایجاد فایل جدید</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <!-- Filter Navigator -->
                                <li class="d-lg-none me-n1">
                                    <a href="#" class="btn btn-trigger btn-icon toggle" data-target="files-aside"><em class="icon ni ni-menu-alt-r"></em></a>
                                </li>

                            </ul>
                        </div>

                        <!-- Mobile Search Box -->
                        <div class="search-wrap px-2 d-lg-none" data-search="search">
                            <div class="search-content">
                                <a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                <input type="text" class="form-control border-transparent form-focus-none" placeholder="جستجو در میان فایل‌ها"/>
                                <button class="search-submit btn btn-icon">
                                    <em class="icon ni ni-search"></em>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end: Upper + Mobile -->

                <!-- Files -->
                <div class="nk-fmg-quick-list nk-block">
                    <div class="toggle-expand-content expanded" data-content="quick-access">
                        <div class="nk-files nk-files-view-grid">
                            <div class="nk-files-list">

                                <!-- Loop -->
                                {% for file in sale_files %}
                                    <div class="nk-file-item nk-file">
                                        <div class="nk-file-info">
                                            <div class="nk-file-title">

                                                <!-- Code / Sub-district -->
                                                <div class="nk-file-name">
                                                    <div class="nk-file-name-text" style="margin-bottom: 0.5em;">
                                                        <span style="font-size: 0.8em;">کد: {{ file.code }} / <span style="color: green; font-size: 1.1em;">{{ file.sub_district }}</span></span>
                                                    </div>
                                                </div>

                                                <!-- Cover -->
                                                <a href="{{ file.get_absolute_url }}" class="nk-file-link">
                                                    <div class="nk-file-icon">
                                                        <figure class="product-image--holder">
                                                            {% if file.has_image == 'has' %}
                                                                <img src="{{ file.image1.url }}" alt="File Cover">
                                                            {% else %}
                                                                <img src="{% static 'dashboard/images/blank_file.jpg' %}" alt="File Cover">
                                                            {% endif %}
                                                        </figure>
                                                    </div>
                                                </a>

                                                <!-- Title -->
                                                <div class="nk-file-name">
                                                    <div class="nk-file-name-text" style="height: 4em;!important; -webkit-line-clamp: 2;!important;">
                                                        <span class="title" style="font-size: 0.9em;">{{ file.title|linebreaksbr|farsi_number }}</span>
                                                    </div>
                                                </div>

                                                <!-- Price -->
                                                <div class="nk-file-name">
                                                    <span class="title" style="font-size: 0.8em; color: green;">قیمت: {{ file.price_announced|intcomma:False|farsi_number }} تومان</span>
                                                </div>

                                                <!-- More -->
                                                <a href="{{ file.get_absolute_url }}" class="btn btn-primary" style="margin-top: 1em;"><em class="icon ni ni-plus"></em><span>مشاهده</span></a>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Files -->

            </div>
            <!-- end: List -->

        </div>
        <!-- end: Main -->

    </div>
{% endblock %}



