{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load jalali_date_converter %}
{% load number_converter %}
{% load price_converter %}
{% load widget_tweaks %}
{% load humanize %}

<!DOCTYPE html>
<html lang="fa" class="js" dir="rtl">

    <head>
        <!-- Meta -->
        <base href="../" />
        <meta charset="utf-8" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'dashboard/assets/css/dashlite.rtl.css' %}" />
        <link id="skin-default" rel="stylesheet" href="{% static 'dashboard/assets/css/theme.css' %}" />

        <!-- JS -->
        <script src="{% static 'dashboard/assets/js/bundle.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/scripts.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/jquery-3.7.1.min.js' %}"></script>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'main/img/logos/ho-fav.png' %}">

        <!-- Title -->
        <title>گالری تصاویر: {{ sale_file.title|farsi_number }}</title>
    </head>

    <body class="bg-gray-100 all-projects-template muze-rtl">


        <div class="nk-app-root">
            <div class="nk-main">
                <div class="nk-wrap">
                    <div class="nk-content">
                        <div class="container-fluid">
                            <div class="nk-content-inner">
                                <div class="nk-content-body">
                                    <div class="components-preview wide-md mx-auto">

                                        <!-- Upper -->
                                        <div class="nk-block-head nk-block-head-lg">
                                            <div class="nk-block-head-content">
                                                <!-- Title -->
                                                <h5 class="nk-block-title page-title" style="line-height: 45px;">گالری و مشخصات فایل فروش "{{ sale_file.title|linebreaksbr|farsi_number }}"</h5>
                                                <!-- Share -->
                                                {% if sale_file.zip_file %}
                                                    <a href="{{ sale_file.zip_file }}" class="btn btn-primary">دانلود یکجای محتوا</a>
                                                {% else %}
                                                    <a href="#" class="btn btn-danger">محتوایی موجود نیست</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- end: Upper -->

                                        <!-- Main -->
                                        <div class="nk-block nk-block-lg">
                                            <div class="card card-bordered card-preview">
                                                <div class="card-inner">
                                                    <div class="row g-gs">

                                                        <!-- Info -->
                                                        <div class="col-sm-6">

                                                            <!-- Title -->
                                                            <div class="nk-block-head nk-block-head-sm">
                                                                <div class="nk-block-between g-3">
                                                                    <div class="nk-block-head-content">
                                                                        <h5 class="nk-block-title">اطلاعات اصلی</h5>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Cards -->
                                                            <div id="basicLeft" class="dragula-container card p-4 h-100" style="background: none">
                                                                <div class="p-3 bg-white border border-light round-lg">کد: {{ sale_file.code }}</div>
                                                                <div class="p-3 bg-white border border-light round-lg">زیرمحله: {{ sale_file.sub_district }}</div>
                                                                <div class="p-3 bg-white border border-light round-lg">متراژ: {{ sale_file.area }} متر</div>
                                                                <div class="p-3 bg-white border border-light round-lg">اتاق: {{ sale_file.room }}</div>
                                                                <div class="p-3 bg-white border border-light round-lg">قیمت: {{ sale_file.price_announced|price_converter|intcomma:False|farsi_number }} تومان</div>
{#                                                                <div class="p-3 bg-white border border-light round-lg">قیمت: {{ sale_file.deposit_announced|price_converter|intcomma:False|farsi_number }} تومان</div>#}
{#                                                                <div class="p-3 bg-white border border-light round-lg">قیمت: {{ sale_file.rent_announced|price_converter|intcomma:False|farsi_number }} تومان</div>#}
{#                                                                <div class="p-3 bg-white border border-light round-lg"></div>#}
                                                                <div class="p-3 bg-white border border-light round-lg">طبقه: {{ sale_file.level }}</div>
                                                                <div class="p-3 bg-white border border-light round-lg">سند:
                                                                    {% if sale_file.document == 'has' %}
                                                                        <span class="title" style="font-size: 1em; color: green;">{{ sale_file.get_document_display }}</span>
                                                                    {% else %}
                                                                        <span class="title" style="font-size: 1em; color: red;">{{ sale_file.get_document_display }}</span>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="p-3 bg-white border border-light round-lg">پارکینگ:
                                                                    {% if sale_file.parking == 'has' %}
                                                                        <span class="title" style="font-size: 1em; color: green;">{{ sale_file.get_parking_display }}</span>
                                                                    {% else %}
                                                                        <span class="title" style="font-size: 1em; color: red;">{{ sale_file.get_parking_display }}</span>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="p-3 bg-white border border-light round-lg">آسانسور:
                                                                    {% if sale_file.elevator == 'has' %}
                                                                        <span class="title" style="font-size: 1em; color: green;">{{ sale_file.get_elevator_display }}</span>
                                                                    {% else %}
                                                                        <span class="title" style="font-size: 1em; color: red;">{{ sale_file.get_elevator_display }}</span>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="p-3 bg-white border border-light round-lg">انباری:
                                                                    {% if sale_file.warehouse == 'has' %}
                                                                        <span class="title" style="font-size: 1em; color: green;">{{ sale_file.get_warehouse_display }}</span>
                                                                    {% else %}
                                                                        <span class="title" style="font-size: 1em; color: red;">{{ sale_file.get_warehouse_display }}</span>
                                                                    {% endif %}
                                                                </div>
{#                                                                {% if sale_file.convertable %}#}
{#                                                                    <div class="p-3 bg-white border border-light round-lg">قابل تبدیل: {{ sale_file.get_convertable_display }}</div>#}
{#                                                                {% endif %}#}
                                                                {% if sale_file.direction %}
                                                                    <div class="p-3 bg-white border border-light round-lg">جهت ملک: {{ sale_file.get_direction_display }}</div>
                                                                {% endif %}
                                                                {% if sale_file.file_levels %}
                                                                    <div class="p-3 bg-white border border-light round-lg">تعداد طبقات: {{ sale_file.get_file_levels_display }}</div>
                                                                {% endif %}
                                                                {% if sale_file.apartments_per_level %}
                                                                    <div class="p-3 bg-white border border-light round-lg">واحد در طبقه: {{ sale_file.get_apartments_per_level_display }}</div>
                                                                {% endif %}
                                                                {% if sale_file.restoration %}
                                                                    <div class="p-3 bg-white border border-light round-lg">بازسازی: {{ sale_file.get_restoration_display }}</div>
                                                                {% endif %}
                                                                {% if sale_file.bench_stove %}
                                                                    <div class="p-3 bg-white border border-light round-lg">گاز رومیزی: {{ sale_file.get_bench_stove_display }}</div>
                                                                {% endif %}
                                                                {% if sale_file.balcony %}
                                                                    <div class="p-3 bg-white border border-light round-lg">بالکن: {{ sale_file.get_balcony_display }}</div>
                                                                {% endif %}
                                                                {% if sale_file.floor %}
                                                                    <div class="p-3 bg-white border border-light round-lg">کف: {{ sale_file.floor }}</div>
                                                                {% endif %}
                                                                {% if sale_file.toilet %}
                                                                    <div class="p-3 bg-white border border-light round-lg">سرویس بهداشتی: {{ sale_file.get_toilet_display }}</div>
                                                                {% endif %}
                                                                {% if sale_file.heating %}
                                                                    <div class="p-3 bg-white border border-light round-lg">گرمایش: {{ sale_file.heating }}</div>
                                                                {% endif %}
                                                                {% if sale_file.cooling %}
                                                                    <div class="p-3 bg-white border border-light round-lg">سرمایش: {{ sale_file.cooling }}</div>
                                                                {% endif %}
                                                                {% if sale_file.hot_water %}
                                                                    <div class="p-3 bg-white border border-light round-lg">آب گرم: {{ sale_file.get_hot_water_display }}</div>
                                                                {% endif %}
                                                            </div>


                                                        </div>
                                                        <!-- end: Info -->


                                                        <!-- Gallery -->
                                                        <div class="col-sm-6">

                                                            <!-- Title (video) -->
                                                            <div class="nk-block-head nk-block-head-sm">
                                                                <div class="nk-block-between g-3">
                                                                    <div class="nk-block-head-content">
                                                                        <h5 class="nk-block-title">ویدئو معرفی</h5>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Item (video) -->
                                                            <div class="row g-gs">
                                                                {% if sale_file.video %}
                                                                    <div class="col-sm-6 col-lg-4 col-xxl-4">
                                                                        <div class="gallery card">
                                                                            {% if sale_file.video %}
                                                                                <video controls loop muted width="100%">
                                                                                    <source src="{{ sale_file.video.url }}" type="video/mp4">
                                                                                </video>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="nk-block-head-content">
                                                                        <span class="nk-block-title">هنوز ویدئویی موجود نیست!</span>
                                                                    </div>
                                                                {% endif %}
                                                            </div>

                                                            <!-- Title (images) -->
                                                            <div class="nk-block-head nk-block-head-sm" style="margin-top: 2em;">
                                                                <div class="nk-block-between g-3">
                                                                    <div class="nk-block-head-content">
                                                                        <h5 class="nk-block-title">گالری تصاویر</h5>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Items (images) -->
                                                            <div class="nk-block nk-block-lg">
                                                                <div class="card card-bordered card-preview">
                                                                    <div class="card-inner">
                                                                        <div class="example-carousel">
                                                                            <div id="carouselExConInd" class="carousel slide" data-bs-ride="carousel">

                                                                                <!-- Carousel -->
                                                                                <div class="carousel-inner">
                                                                                    {% if sale_file.image1 %}
                                                                                        <div class="carousel-item active">
                                                                                            <img src="{{ sale_file.image1.url }}" class="d-block w-100">
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {% if sale_file.image2 %}
                                                                                        <div class="carousel-item">
                                                                                            <img src="{{ sale_file.image2.url }}" class="d-block w-100">
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {% if sale_file.image3 %}
                                                                                        <div class="carousel-item">
                                                                                            <img src="{{ sale_file.image3.url }}" class="d-block w-100">
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {% if sale_file.image4 %}
                                                                                        <div class="carousel-item active">
                                                                                            <img src="{{ sale_file.image4.url }}" class="d-block w-100">
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {% if sale_file.image5 %}
                                                                                        <div class="carousel-item">
                                                                                            <img src="{{ sale_file.image5.url }}" class="d-block w-100">
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {% if sale_file.image6 %}
                                                                                        <div class="carousel-item">
                                                                                            <img src="{{ sale_file.image6.url }}" class="d-block w-100">
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {% if sale_file.image7 %}
                                                                                        <div class="carousel-item active">
                                                                                            <img src="{{ sale_file.image7.url }}" class="d-block w-100">
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {% if sale_file.image8 %}
                                                                                        <div class="carousel-item">
                                                                                            <img src="{{ sale_file.image8.url }}" class="d-block w-100">
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {% if sale_file.image9 %}
                                                                                        <div class="carousel-item">
                                                                                            <img src="{{ sale_file.image9.url }}" class="d-block w-100">
                                                                                        </div>
                                                                                    {% endif %}
                                                                                </div>

                                                                                <!-- Navigators -->
                                                                                <a class="carousel-control-prev" href="#carouselExConInd" role="button" data-bs-slide="prev">
                                                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                                    <span class="visually-hidden">قبلی</span>
                                                                                </a>
                                                                                <a class="carousel-control-next" href="#carouselExConInd" role="button" data-bs-slide="next">
                                                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                                    <span class="visually-hidden">بعدی</span>
                                                                                </a>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!-- end: Gallery -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end: Main -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>


