{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load jalali_date_converter %}
{% load number_converter %}
{% load price_converter %}
{% load humanize %}
{% load widget_tweaks %}
{% load pagination %}


{% block title %}
    {% trans 'Sale Files' %}
{% endblock %}


{% block content %}
    
    <!-- Message -->
    <div id="successModal"  class="modal">
        <div class="modal-content">
            <h5 class="modal-title" style="padding: 20px 20px 10px 0;!important;">عملیات با موفقیت انجام شد (عملیات مربوطه توسط مدیر بررسی خواهد شد).</h5>
            <button class="modal-my-button">بستن پیام</button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            var messages = "{% for message in messages %}{{ message }}{% if not forloop.last %}\\n{% endif %}{% endfor %}";
            if (messages) {
                $('#modal-message').text(messages);
                $('#successModal').show();
            }
            $('.modal-my-button').on('click', function() {
                $('#successModal').hide();
            });
        });
    </script>
    <!-- end: Message -->

    <!-- Main -->
    <div class="nk-fmg" style="padding-right: 0;!important;">
        <div class="nk-fmg-body">
            <div class="nk-fmg-body-content">

                <!-- Add / Filter-->
                <div class="nk-fmg-body-head  d-none d-lg-flex" >
                    <div class="nk-fmg-actions">
                        <ul class="nk-block-tools g-3">
                            <li>
                                <a href="{% url 'sale_file_create' %}" class="btn btn-primary"><em class="icon ni ni-plus"></em><span>ایجاد فایل جدید</span></a>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
                                    <em class="icon ni ni-filter"></em><span>فیلتر فایل</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end: Add / Filter -->

                <!-- Add / Filter (Mobile) -->
                <div class="nk-block-head nk-block-head-sm" style="margin-bottom: 1.2em; margin-top: 1.2em;">
                    <div class="nk-block-between position-relative">

                        <!-- Title -->
                        <div class="nk-block-head-content">
                            <h5 class="nk-block-title page-title">فایل‌های فروش</h5>
                        </div>

                        <!-- Buttons -->
                        <div class="nk-block-head-content">
                            <ul class="nk-block-tools g-1">
                                <li class="d-lg-none">
                                    <div class="dropdown">
                                        <a href="{% url 'sale_file_create' %}" class="btn btn-primary"><em class="icon ni ni-plus"></em></a>
                                    </div>
                                </li>
                                <li class="d-lg-none">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
                                            <em class="icon ni ni-filter"></em>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- end: Add / Filter (Mobile) -->

                <!-- Filter (Modal) -->
                <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        
                            <!-- Upper -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="filterModalLabel">فیلتر فایل</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <!-- end: Upper -->
                        
                            <!-- Form -->
                            <div class="modal-body">
                                <div class="card h-100">
                                    <div class="card-inner">
                                        <form id="filter-form" method="get" action="{% url 'sale_file_list' %}" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <!-- province -->
                                            {% if request.user.title == 'bs' %}
                                                <div class="form-group">
                                                    <label class="form-label" for="{{ filter_form.province.id_for_label }}">استان</label>
                                                    {% render_field filter_form.province type="text" id="province" class="form-control" %}
                                                </div>
                                                {% if filter_form.province.errors %}
                                                    {% for error in filter_form.province.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}

                                            <!-- city -->
                                            {% if request.user.title == 'bs' %}
                                                <div class="form-group">
                                                    <label class="form-label" for="{{ filter_form.city.id_for_label }}">شهر</label>
                                                    {% render_field filter_form.city type="text" id="city" class="form-control" %}
                                                </div>
                                                {% if filter_form.city.errors %}
                                                    {% for error in filter_form.city.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}

                                            <!-- district -->
                                            {% if request.user.title == 'bs' %}
                                                <div class="form-group">
                                                    <label class="form-label" for="{{ filter_form.district.id_for_label }}">محله</label>
                                                    {% render_field filter_form.district type="text" id="district" class="form-control" %}
                                                </div>
                                                {% if filter_form.district.errors %}
                                                    {% for error in filter_form.district.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}

                                            <!-- sub_district -->
                                            {% if request.user.title == 'bs' %}
                                                <div class="form-group">
                                                    <label class="form-label" for="{{ filter_form.sub_district.id_for_label }}">زیرمحله</label>
                                                    {% render_field filter_form.sub_district type="text" id="sub_district" class="form-control" %}
                                                </div>
                                                {% if filter_form.sub_district.errors %}
                                                    {% for error in filter_form.sub_district.errors %}
                                                        <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}

                                            <!-- source -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.source.id_for_label }}">منبع آگهی</label>
                                                {% render_field filter_form.source type="text" id="source" class="form-control" %}
                                            </div>
                                            {% if filter_form.source.errors %}
                                                {% for error in filter_form.source.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- person -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.person.id_for_label }}">فرد آگهی‌دهنده</label>
                                                {% render_field filter_form.person type="text" id="person" class="form-control" %}
                                            </div>
                                            {% if filter_form.person.errors %}
                                                {% for error in filter_form.person.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- max_price -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.max_price.id_for_label }}">حداکثر قیمت</label>
                                                {% render_field filter_form.max_price type="number" id="max_price" class="form-control" %}
                                            </div>
                                            {% if filter_form.max_price.errors %}
                                                {% for error in filter_form.max_price.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- min_price -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.min_price.id_for_label }}">حداقل قیمت</label>
                                                {% render_field filter_form.min_price type="number" id="min_price" class="form-control" %}
                                            </div>
                                            {% if filter_form.min_price.errors %}
                                                {% for error in filter_form.min_price.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- max_area -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.max_area.id_for_label }}">حداکثر متراژ</label>
                                                {% render_field filter_form.max_area type="number" id="max_area" class="form-control" %}
                                            </div>
                                            {% if filter_form.max_area.errors %}
                                                {% for error in filter_form.max_area.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- min_area -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.min_area.id_for_label }}">حداقل متراژ</label>
                                                {% render_field filter_form.min_area type="number" id="min_area" class="form-control" %}
                                            </div>
                                            {% if filter_form.min_area.errors %}
                                                {% for error in filter_form.min_area.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- max_room -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.max_room.id_for_label }}">حداکثر تعداد اتاق</label>
                                                {% render_field filter_form.max_room type="text" id="max_room" class="form-control" %}
                                            </div>
                                            {% if filter_form.max_room.errors %}
                                                {% for error in filter_form.max_room.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- min_room -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.min_room.id_for_label }}">حداقل تعداد اتاق</label>
                                                {% render_field filter_form.min_room type="text" id="min_room" class="form-control" %}
                                            </div>
                                            {% if filter_form.min_room.errors %}
                                                {% for error in filter_form.min_room.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- max_age -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.max_age.id_for_label }}">حداکثر سن</label>
                                                {% render_field filter_form.max_age type="text" id="max_age" class="form-control" %}
                                            </div>
                                            {% if filter_form.max_age.errors %}
                                                {% for error in filter_form.max_age.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- min_age -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.min_age.id_for_label }}">حداقل سن</label>
                                                {% render_field filter_form.min_age type="text" id="min_age" class="form-control" %}
                                            </div>
                                            {% if filter_form.min_age.errors %}
                                                {% for error in filter_form.min_age.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- max_level -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.max_level.id_for_label }}">حداکثر طبقه</label>
                                                {% render_field filter_form.max_level type="text" id="max_level" class="form-control" %}
                                            </div>
                                            {% if filter_form.max_level.errors %}
                                                {% for error in filter_form.max_level.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- min_level -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.min_level.id_for_label }}">حداقل طبقه</label>
                                                {% render_field filter_form.min_level type="text" id="min_level" class="form-control" %}
                                            </div>
                                            {% if filter_form.min_level.errors %}
                                                {% for error in filter_form.min_level.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- document -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.document.id_for_label }}">وضعیت سند</label>
                                                {% render_field filter_form.document type="text" id="document" class="form-control" %}
                                            </div>
                                            {% if filter_form.document.errors %}
                                                {% for error in filter_form.document.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- parking -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.parking.id_for_label }}">وضعیت پارکینگ</label>
                                                {% render_field filter_form.parking type="text" id="parking" class="form-control" %}
                                            </div>
                                            {% if filter_form.parking.errors %}
                                                {% for error in filter_form.parking.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- elevator -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.elevator.id_for_label }}">وضعیت آسانسور</label>
                                                {% render_field filter_form.elevator type="text" id="elevator" class="form-control" %}
                                            </div>
                                            {% if filter_form.elevator.errors %}
                                                {% for error in filter_form.elevator.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- warehouse -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.warehouse.id_for_label }}">وضعیت انباری</label>
                                                {% render_field filter_form.warehouse type="text" id="warehouse" class="form-control" %}
                                            </div>
                                            {% if filter_form.warehouse.errors %}
                                                {% for error in filter_form.warehouse.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- images -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.has_images.id_for_label }}">عکس داشته باشد؟</label>
                                                {% render_field filter_form.has_images type="text" id="has_images" class="form-control" %}
                                            </div>
                                            {% if filter_form.has_images.errors %}
                                                {% for error in filter_form.has_images.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- video -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.has_video.id_for_label }}">ویدئو معرفی داشته باشد؟</label>
                                                {% render_field filter_form.has_video type="text" id="has_video" class="form-control" %}
                                            </div>
                                            {% if filter_form.has_video.errors %}
                                                {% for error in filter_form.has_video.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}

                                            <!-- min_date -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.min_date.id_for_label }}">از تاریخ</label>
                                                {% render_field filter_form.min_date type="text" id="min_date" class="form-control" %}
                                            </div>
                                            {% if filter_form.min_date.errors %}
                                                {% for error in filter_form.min_date.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            <script type="text/javascript">
                                                $(function() {
                                                    $("#min_date").persianDatepicker();
                                                });
                                            </script>

                                            <!-- max_date -->
                                            <div class="form-group">
                                                <label class="form-label" for="{{ filter_form.max_date.id_for_label }}">از تاریخ</label>
                                                {% render_field filter_form.max_date type="text" id="max_date" class="form-control" %}
                                            </div>
                                            {% if filter_form.max_date.errors %}
                                                {% for error in filter_form.max_date.errors %}
                                                    <p style="font-weight: normal; font-size: small; color: red;">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            <script type="text/javascript">
                                                $(function() {
                                                    $("#max_date").persianDatepicker();
                                                });
                                            </script>

                                            <!-- button -->
                                            <div class="form-group">
                                                <button type="submit" onclick="submitFormAndRefresh()" class="btn btn-primary justify-center" style="width: 100%;!important;">اعمال فیلتر</button>
                                                <a href="{% url 'sale_file_list' %}" class="btn btn-danger justify-center" style="width: 100%;!important; margin-top: 10px;">حذف فیلترها</a>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end: Form -->
                        
                        </div>
                    </div>
                </div>
                <!-- end: Filter (Modal) -->

                <!-- Filter (JS)-->
                <script>
                    function submitFormAndRefresh() {
                        document.getElementById('filter-form').submit();
                        location.reload();
                    }
                </script>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const province = document.getElementById('province').value;
                        const city = document.getElementById('city').value;

                        if (province) {
                            updateCities(province);
                        }
                        if (city) {
                            updateDistricts(city);
                        }
                    });

                    function updateCities(provinceId) {
                        const url = `/get-cities/?province_id=${provinceId}`;
                        fetch(url)
                            .then(response => response.json())
                            .then(data => {
                                const citySelect = document.getElementById('city');
                                citySelect.innerHTML = '<option value="">Select City</option>';
                                data.cities.forEach(city => {
                                    citySelect.innerHTML += `<option value="${city.id}">${city.name}</option>`;
                                });

                                const selectedCity = '{{ request.GET.city }}';
                                if (selectedCity) {
                                    citySelect.value = selectedCity;
                                }
                            });
                    }

                    function updateDistricts(cityId) {
                        const url = `/get-districts/?city_id=${cityId}`;
                        fetch(url)
                            .then(response => response.json())
                            .then(data => {
                                const districtSelect = document.getElementById('district');
                                districtSelect.innerHTML = '<option value="">Select District</option>';
                                data.districts.forEach(district => {
                                    districtSelect.innerHTML += `<option value="${district.id}">${district.name}</option>`;
                                });

                                const selectedDistrict = '{{ request.GET.district }}';
                                if (selectedDistrict) {
                                    districtSelect.value = selectedDistrict;
                                }
                            });
                    }

                    function submitFormAndRefresh() {
                        document.getElementById('filter-form').submit();
                        location.reload();
                    }
                </script>
                <!-- end: Filter (JS)-->

                <!-- Files -->
                <div class="nk-fmg-quick-list nk-block">
                    <div class="toggle-expand-content expanded" data-content="quick-access">
                        <div class="nk-files nk-files-view-grid">
                            <div class="nk-files-list">
                            
                                <!-- Loop -->
                                {% for file in sale_files %}
                                    {% if file.status == 'acc' %}
                                        <div class="nk-file-item nk-file">
                                            <div class="nk-file-info">
                                                <div class="nk-file-title">
    
                                                    <!-- Code -->
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text" style="margin-bottom: 0.5em; height: 2em;!important; -webkit-line-clamp: 2;!important; font-size: 0.9em;">
                                                            <button style="border: none; background-color:transparent; margin-top: 0.8em; line-height: 10px; border-bottom: solid 1px #00a65c; color: #00a65c" onclick="copyCode(this)">
                                                               {{ file.code }}
                                                            </button>
                                                            <span class="feedback" id="feedback-{{ file.code }}" style="display: none; color: #00a65c">شد!</span>
                                                        </div>
                                                    </div>
                                                    <!-- Code (JS) -->
                                                    <script>
                                                        function copyCode(element) {
                                                            // Get the code from the button's text content instead of parameter
                                                            const code = element.textContent.trim();
                                                            
                                                            // Create a temporary input element to hold the text
                                                            const tempInput = document.createElement("input");
                                                            tempInput.value = code;
                                                            document.body.appendChild(tempInput);
                                                    
                                                            // Select and copy the text
                                                            tempInput.select();
                                                            document.execCommand("copy");
                                                    
                                                            // Remove the temporary input
                                                            document.body.removeChild(tempInput);
                                                    
                                                            // Show feedback message
                                                            const feedback = document.getElementById(`feedback-${code}`);
                                                            feedback.style.display = 'inline';
                                                    
                                                            // Hide feedback after 3 seconds
                                                            setTimeout(() => {
                                                                feedback.style.display = 'none';
                                                            }, 3000);
                                                        }
                                                    </script>

                                                    <!-- Agent -->
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text" style="margin-bottom: 0.5em; height: 2em;!important; -webkit-line-clamp: 2;!important; font-size: 0.9em;">
                                                            {% if file.created_by.name_family %}
                                                                مشاور: {{ file.created_by.name_family }}
                                                            {% else %}
                                                                مشاور: {{ file.created_by }}
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    <!-- Sub-district -->
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text" style="margin-bottom: 0.5em; height: 3em;!important; -webkit-line-clamp: 2;!important;">
                                                            <span style="color: #00a65c; font-size: 1em;">{{ file.sub_district }}</span>
                                                        </div>
                                                    </div>

                                                    <!-- Date -->
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text">
                                                            <span style="font-size: 0.8em;">{{ file.datetime_created|jalali_date_converter }}</span>
                                                        </div>
                                                    </div>
    
                                                    <!-- Cover -->
                                                    <a href="{{ file.get_absolute_url }}" class="nk-file-link">
                                                        <div class="nk-file-icon">
                                                            <figure class="product-image--holder" style="height: 12.3em;!important; -webkit-line-clamp: 12.3;!important;">
                                                                {% if file.image1 %}
                                                                    <img src="{{ file.image1.url }}" alt="File Cover" style="height: 12.3em;!important; -webkit-line-clamp: 12.3;!important;">
                                                                {% else %}
                                                                    <img src="{% static 'dashboard/images/blank_file.jpg' %}" alt="File Cover" style="height: 12.3em;!important; -webkit-line-clamp: 12.3;!important;">
                                                                {% endif %}
                                                            </figure>
                                                        </div>
                                                    </a>
    
                                                    <!-- Title -->
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text" style="height: 4em;!important; -webkit-line-clamp: 2;!important;">
                                                            <span class="title" style="font-size: 0.9em;">{{ file.title|linebreaksbr|farsi_number }}</span>
                                                        </div>
                                                    </div>
    
                                                    <!-- Price -->
                                                    <div class="nk-file-name">
                                                        <span class="title" style="font-size: 0.8em; color: green;">قیمت: {{ file.price_announced|price_converter|intcomma:False|farsi_number }} تومان</span>
                                                    </div>
    
                                                    <!-- More -->
                                                    <a href="{{ file.get_absolute_url }}" class="btn btn-primary" style="margin-top: 1em;"><em class="icon ni ni-eye"></em><span>مشاهده</span></a>
    
                                                    <!-- Mark -->
                                                    <form method="post" 
                                                          action="{% url 'toggle_mark_sale_file' 'sale_file' file.id %}" 
                                                          class="mark-form"
                                                          data-file-id="{{ file.id }}">
                                                       {% csrf_token %}
                                                        {% if file.id not in marked_sale_file_ids %}
                                                            <!-- Unmarked state - gray bookmark button -->
                                                            <button type="submit" 
                                                                    class="btn btn-gray mark-btn" 
                                                                    style="margin-top: 1em; font-size: 0.7em; line-height: 0.7em;"
                                                                    title="افزودن نشان">
                                                                <em class="icon ni ni-bookmark"></em>
                                                            </button>
                                                        {% else %}
                                                            <!-- Marked state - yellow check button (NOW CLICKABLE!) -->
                                                            <button type="submit" 
                                                                    class="btn btn-warning mark-btn marked" 
                                                                    style="margin-top: 1em; margin-left: 5px; font-size: 0.7em; line-height: 0.7em;" 
                                                                    title="حذف نشان">
                                                                <em class="icon ni ni-check"></em>
                                                            </button>
                                                        {% endif %}
                                                    </form>
                                                
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <!-- end: Loop -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Files -->

                <!-- Pagination -->
                {% pagination page_obj request 'sale_file_list' %}
                <!-- end: Pagination -->
            
            </div>
        </div>
    </div>
    <!-- end: Main -->
    
{% endblock %}


