{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load humanize %}
{% load widget_tweaks %}


{% block title %}
    {{ sale_file.title|farsi_number }}
{% endblock %}


{% block content %}

    <div class="nk-block">
        <div class="row g-gs">

            <!-- Main (Sidebar) -->
            <div class="col-lg-4 col-xl-4 col-xxl-3">
                <div class="card">
                    <div class="card-inner-group" >

                        <!-- Title -->
                        <div class="card-inner">
                            <div class="user-card user-card-s2">
                                <div class="user-info">
                                    <div style="height: 4em;!important; -webkit-line-clamp: 2;!important;">
                                        <h6>{{ sale_file.title|linebreaksbr|farsi_number }}</h6>
                                    </div>
                                    <div class="badge bg-light rounded-pill ucap">خرید و فروش</div>
                                    <div style="font-size: 0.9em;">کد فایل: {{ sale_file.code }}</div>

                                    <div style="font-size: 0.9em; margin-top: 1em;">
                                        <a href="{% url 'sale_file_update' sale_file.slug sale_file.unique_url_id %}" class="btn btn-primary">بروزرسانی</a>
                                        <a href="{% url 'sale_file_update' sale_file.slug sale_file.unique_url_id %}" class="btn btn-danger">پاک کردن</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Locations -->
                        <div class="card-inner card-inner-sm">
                            <ul class="btn-toolbar justify-center gx-1">
                                <li><span style="font-size: 0.9em;">{{ sale_file.city }}</span></li>
                                <li><span>|</span></li>
                                <li><span style="font-size: 0.9em;">{{ sale_file.district }}</span></li>
                                <li><span>|</span></li>
                                <li><span style="font-size: 0.9em;">{{ sale_file.sub_district|linebreaksbr|farsi_number }}</span></li>
                            </ul>
                        </div>

                        <!-- Area - Age - Room -->
                        <div class="card-inner">
                            <div class="row text-center">
                                <!-- Area -->
                                <div class="col-4">
                                    <div class="profile-stats">
                                        <span class="amount">{{ sale_file.area }}</span>
                                        <span class="sub-text">متراژ (متر)</span>
                                    </div>
                                </div>
                                <!-- َAge -->
                                <div class="col-4">
                                    <div class="profile-stats">
                                        <span class="amount">{{ sale_file.age }}</span>
                                        <span class="sub-text">سن (سال)</span>
                                    </div>
                                </div>
                                <!-- Room -->
                                <div class="col-4">
                                    <div class="profile-stats">
                                        <span class="amount">{{ sale_file.room }}</span>
                                        <span class="sub-text">تعداد اتاق</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Prices - Floor - Document -->
                        <div class="card-inner">
                            <div class="nk-tb-list nk-tb-ulist is-compact card">

                                <!-- Total Price -->
                                <div class="nk-tb-item">
                                    <div class="nk-tb-col"><span class="fw-bold">قیمت کل:</span></div>
                                    <div class="nk-tb-col tb-col-sm">
                                        <span class="tb-product">
                                            <span class="title" style="font-size: 1em;">{{ sale_file.price_announced|intcomma:False|farsi_number }} تومان</span>
                                        </span>
                                    </div>
                                </div>

                                <!-- Metric Price -->
                                <div class="nk-tb-item">
                                    <div class="nk-tb-col"><span class="fw-bold">قیمت متری:</span></div>
                                    <div class="nk-tb-col tb-col-sm">
                                        <span class="tb-product">
                                            <span class="title" style="font-size: 1em;">{{ sale_file.price_per_meter|intcomma:False|farsi_number }} تومان</span>
                                        </span>
                                    </div>
                                </div>

                                <!-- Level -->
                                <div class="nk-tb-item">
                                    <div class="nk-tb-col"><span class="fw-bold">طبقه</span></div>
                                    <div class="nk-tb-col tb-col-sm">
                                        <span class="tb-product">
                                            <span class="title">{{ sale_file.level }}</span>
                                        </span>
                                    </div>
                                </div>

                                <!-- Document -->
                                <div class="nk-tb-item">
                                    <div class="nk-tb-col"><span class="fw-bold">وضعیت سند:</span></div>
                                    <div class="nk-tb-col tb-col-sm">
                                        <span class="tb-product">
                                            {% if sale_file.document == 'has' %}
                                                <span class="title" style="font-size: 1em; color: green;">{{ sale_file.get_document_display }}</span>
                                            {% else %}
                                                <span class="title" style="font-size: 1em; color: red;">{{ sale_file.get_document_display }}</span>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Parking - Warehouse - Elevator -->
                        <div class="card-inner">
                            <div class="row text-center">
                                <!-- Parking -->
                                <div class="col-4">
                                    <div class="profile-stats">
                                        {% if sale_file.parking == 'has' %}
                                            <span class="sub-text" style="color: green; font-size: 1em; border-bottom: green 1px solid">پارکینگ</span>
                                        {% else %}
                                            <span class="sub-text" style="color: red; font-size: 1em; border-bottom: red 1px solid">پارکینگ</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- Elevator -->
                                <div class="col-4">
                                    <div class="profile-stats">
                                        {% if sale_file.elevator == 'has' %}
                                            <span class="sub-text" style="color: green; font-size: 1em; border-bottom: green 1px solid">آسانسور</span>
                                        {% else %}
                                            <span class="sub-text" style="color: red; font-size: 1em; border-bottom: red 1px solid">آسانسور</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- Warehouse -->
                                <div class="col-4">
                                    <div class="profile-stats">
                                        {% if sale_file.warehouse == 'has' %}
                                            <span class="sub-text" style="color: green; font-size: 1em; border-bottom: green 1px solid">انباری</span>
                                        {% else %}
                                            <span class="sub-text" style="color: red; font-size: 1em; border-bottom: red 1px solid">انباری</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end: Main (Sidebar) -->

            <!-- Other -->
            <div class="col-lg-8 col-xl-8 col-xxl-9">
                <div class="card">
                    <div class="card-inner">

                        <!-- ُShare -->
                        <div style="margin-bottom: 1em;">
                            <ul class="nk-block-tools g-3">

                                <!-- Zip -->
                                <li>
                                    {% if sale_file.zip_file %}
                                        <a href="{{ sale_file.zip_file }}" class="btn btn-primary">دانلود یکجای محتوا</a>
                                    {% else %}
                                        <a href="#" class="btn btn-danger">محتوایی موجود نیست</a>
                                    {% endif %}
                                </li>

                                <!-- Link -->
                                <li>
                                    {% if sale_file.zip_file %}
                                        <a href="{% url 'sale_file_gallery' sale_file.slug sale_file.unique_url_id %}"
                                           class="btn btn-primary"
                                           onclick="copyToClipboard(event, this)">
                                           کپی لینک مشاهده محتوا
                                        </a>

                                        <!-- Message -->
                                        <span id="copy-message" style="display:none; color:green; margin-right:10px; margin-top: 5px;">شد!</span>

                                        <!-- JS -->
                                        <script>
                                            function copyToClipboard(event, element) {
                                                event.preventDefault();
                                                const baseUrl = window.location.origin;
                                                const relativeUrl = element.getAttribute('href');
                                                const fullUrl = baseUrl + relativeUrl;
                                                navigator.clipboard.writeText(fullUrl).then(() => {
                                                    const message = document.getElementById("copy-message");
                                                    message.style.display = "inline";
                                                    setTimeout(() => {
                                                        message.style.display = "none";
                                                    }, 2000);
                                                }).catch(err => {
                                                    console.error("Failed to copy: ", err);
                                                });
                                            }
                                        </script>

                                    {% else %}
                                        <a href="#" class="btn btn-danger">لینک حاوی محتوا موجود نیست</a>
                                    {% endif %}
                                </li>
                                <!-- Share -->
{#                                <li>#}
{#                                    {% if sale_file.zip_file %}#}
{#                                        <a href="{{ sale_file.zip_file }}" class="btn btn-primary">دانلود یکجای محتوا</a>#}
{#                                    {% else %}#}
{#                                        <a href="#" class="btn btn-danger">محتوایی موجود نیست</a>#}
{#                                    {% endif %}#}
{#                                </li>#}
                            </ul>
                        </div>
                        <!-- end: Share -->

                        <!-- Gallery -->
                        <div class="nk-block" style="margin-top: 2em;">

                            <!-- Title (images) -->
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">گالری تصویر</h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Media (images) -->
                            <div class="row g-gs">
                                {% if sale_file.image1 or sale_file.image2 or sale_file.image3 or sale_file.image4 or sale_file.image5 or sale_file.image6 or sale_file.image7 or sale_file.image8 or sale_file.image9 %}
                                    <!-- image1 -->
                                    {% if sale_file.image1 %}
                                        <div class="col-sm-6 col-lg-4 col-xxl-4">
                                            <div class="gallery card">
                                                {% if sale_file.image1 %}
                                                    <a class="gallery-image popup-image" href="#" style="height: 20.25em;!important; -webkit-line-clamp: 20.25;!important;">
                                                        <img class="w-100 rounded-top" src="{{ sale_file.image1.url }}">
                                                        <a href="{{ sale_file.image1.url }}" download><em class="icon ni ni-download" style="line-height: 25px; font-size: larger; color: black;"></em></a>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- image2 -->
                                    {% if sale_file.image2 %}
                                        <div class="col-sm-6 col-lg-4 col-xxl-4">
                                            <div class="gallery card">
                                                <a class="gallery-image popup-image" href="#" style="height: 20.25em;!important; -webkit-line-clamp: 20.25;!important;">
                                                    <img class="w-100 rounded-top" src="{{ sale_file.image2.url }}">
                                                    <a href="{{ sale_file.image2.url }}" download><em class="icon ni ni-download" style="line-height: 25px; font-size: larger; color: black;"></em></a>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- image3 -->
                                    {% if sale_file.image3 %}
                                        <div class="col-sm-6 col-lg-4 col-xxl-4">
                                            <div class="gallery card">
                                                <a class="gallery-image popup-image" href="#" style="height: 20.25em;!important; -webkit-line-clamp: 20.25;!important;">
                                                    <img class="w-100 rounded-top" src="{{ sale_file.image3.url }}">
                                                    <a href="{{ sale_file.image3.url }}" download><em class="icon ni ni-download" style="line-height: 25px; font-size: larger; color: black;"></em></a>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- image4 -->
                                    {% if sale_file.image4 %}
                                        <div class="col-sm-6 col-lg-4 col-xxl-4">
                                            <div class="gallery card">
                                                <a class="gallery-image popup-image" href="#" style="height: 20.25em;!important; -webkit-line-clamp: 20.25;!important;">
                                                    <img class="w-100 rounded-top" src="{{ sale_file.image4.url }}">
                                                    <a href="{{ sale_file.image4.url }}" download><em class="icon ni ni-download" style="line-height: 25px; font-size: larger; color: black;"></em></a>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- image5 -->
                                    {% if sale_file.image5 %}
                                        <div class="col-sm-6 col-lg-4 col-xxl-4">
                                            <div class="gallery card">
                                                <a class="gallery-image popup-image" href="#" style="height: 20.25em;!important; -webkit-line-clamp: 20.25;!important;">
                                                    <img class="w-100 rounded-top" src="{{ sale_file.image5.url }}">
                                                    <a href="{{ sale_file.image5.url }}" download><em class="icon ni ni-download" style="line-height: 25px; font-size: larger; color: black;"></em></a>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- image6 -->
                                    {% if sale_file.image6 %}
                                        <div class="col-sm-6 col-lg-4 col-xxl-4">
                                            <div class="gallery card">
                                                <a class="gallery-image popup-image" href="#" style="height: 20.25em;!important; -webkit-line-clamp: 20.25;!important;">
                                                    <img class="w-100 rounded-top" src="{{ sale_file.image6.url }}">
                                                    <a href="{{ sale_file.image6.url }}" download><em class="icon ni ni-download" style="line-height: 25px; font-size: larger; color: black;"></em></a>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- image7 -->
                                    {% if sale_file.image7 %}
                                        <div class="col-sm-6 col-lg-4 col-xxl-4">
                                            <div class="gallery card">
                                                <a class="gallery-image popup-image" href="#" style="height: 20.25em;!important; -webkit-line-clamp: 20.25;!important;">
                                                    <img class="w-100 rounded-top" src="{{ sale_file.image7.url }}">
                                                    <a href="{{ sale_file.image7.url }}" download><em class="icon ni ni-download" style="line-height: 25px; font-size: larger; color: black;"></em></a>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- image8 -->
                                    {% if sale_file.image8 %}
                                        <div class="col-sm-6 col-lg-4 col-xxl-4">
                                            <div class="gallery card">
                                                <a class="gallery-image popup-image" href="#" style="height: 20.25em;!important; -webkit-line-clamp: 20.25;!important;">
                                                    <img class="w-100 rounded-top" src="{{ sale_file.image8.url }}">
                                                    <a href="{{ sale_file.image8.url }}" download><em class="icon ni ni-download" style="line-height: 25px; font-size: larger; color: black;"></em></a>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- image9 -->
                                    {% if sale_file.image9 %}
                                        <div class="col-sm-6 col-lg-4 col-xxl-4">
                                            <div class="gallery card">
                                                <a class="gallery-image popup-image" href="#" style="height: 20.25em;!important; -webkit-line-clamp: 20.25;!important;">
                                                    <img class="w-100 rounded-top" src="{{ sale_file.image9.url }}">
                                                    <a href="{{ sale_file.image9.url }}" download><em class="icon ni ni-download" style="line-height: 25px; font-size: larger; color: black;"></em></a>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="nk-block-head-content">
                                        <span class="nk-block-title">هنوز تصویری موجود نیست!</span>
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Title (video) -->
                            <div class="nk-block-head nk-block-head-sm" style="margin-top: 2em;">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">ویدئو معرفی</h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Media (video) -->
                            <div class="row g-gs">
                                <!-- video -->
                                {% if sale_file.video %}
                                    <div class="col-sm-6 col-lg-4 col-xxl-4">
                                        <div class="gallery card">
                                            {% if sale_file.video %}
                                                <a class="gallery-image popup-image" href="#">
                                                    <video controls loop muted width="100%">
                                                        <source src="{{ sale_file.video.url }}" type="video/mp4">
                                                    </video>
                                                    <a href="{{ sale_file.video.url }}" download><em class="icon ni ni-download" style="line-height: 25px; font-size: larger; color: black;"></em></a>
{#                                                    <em class="icon ni ni-share" style="line-height: 25px; font-size: larger; color: black;"></em>#}
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="nk-block-head-content">
                                        <span class="nk-block-title">هنوز ویدئویی موجود نیست!</span>
                                    </div>
                                {% endif %}
                            </div>
                        
                        </div>
                        <!-- end: Gallery -->

                        <!-- Cards -->
                        <div class="nk-block" style="margin-top: 3em;">
                            <div class="row">

                                <!-- Title (other) -->
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between g-3">
                                        <div class="nk-block-head-content">
                                            <h5 class="nk-block-title">سایر مشخصات</h5>
                                        </div>
                                    </div>
                                </div>

                                <!-- Source -->
                                <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">منبع آگهی:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.source %}
                                                            <span class="text-soft ml-1">{{ sale_file.get_source_display }}</span>
                                                        {% else %}
                                                            <span class="text-soft ml-1">----</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Person -->
                                {% if sale_file.source == 'PN' %}
                                    <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                        <div class="card">
                                            <div class="card-inner">
                                                <div class="d-flex justify-content-center">
                                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                                        <h6 class="lead-text">
                                                            <span class="text-soft ml-1">شخص آگهی‌دهنده:</span>
                                                        </h6>
                                                        <h6 class="lead-text">
                                                            {% if sale_file.person %}
                                                                <span class="text-soft ml-1">{{ sale_file.person }}</span>
                                                            {% else %}
                                                                <span class="text-soft ml-1">----</span>
                                                            {% endif %}
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- Price (Min) -->
                                <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">حداقل قیمت ممکن:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.price_min %}
                                                            <span class="text-soft ml-1">{{ sale_file.price_min|intcomma:False|farsi_number }} تومان</span>
                                                        {% else %}
                                                            <span class="text-soft ml-1">----</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Direction -->
                                <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">جهت ملک:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.direction %}
                                                            <span class="text-soft ml-1">{{ sale_file.get_direction_display }}</span>
                                                        {% else %}
                                                            <span class="text-soft ml-1">----</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Levels -->
                                <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">تعداد طبقات ساختمان:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.file_levels %}
                                                            <span class="text-soft ml-1">{{ sale_file.get_file_levels_display }}</span>
                                                        {% else %}
                                                            <span class="text-soft ml-1">----</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                 <!-- Aparts -->
                                <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">تعداد واحد در هر طبقه:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.apartments_per_level %}
                                                            <span class="text-soft ml-1">{{ sale_file.get_apartments_per_level_display }}</span>
                                                        {% else %}
                                                            <span class="text-soft ml-1">----</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Restorations -->
                                <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">وضعیت بازسازی:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.restoration %}
                                                            <span class="text-soft ml-1">{{ sale_file.get_restoration_display }}</span>
                                                        {% else %}
                                                            <span class="text-soft ml-1">----</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Stove -->
                                <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">گاز رومیزی:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.bench_stove %}
                                                            <span class="text-soft ml-1">{{ sale_file.get_bench_stove_display }}</span>
                                                        {% else %}
                                                            <span class="text-soft ml-1">----</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Balcony -->
                                <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">وضعیت بالکن:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.balcony %}
                                                            <span class="text-soft ml-1">{{ sale_file.get_balcony_display }}</span>
                                                        {% else %}
                                                            <span class="text-soft ml-1">----</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                 <!-- Floor -->
                                <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">جنس کف:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.floor %}
                                                            <span class="text-soft ml-1">{{ sale_file.floor }}</span>
                                                        {% else %}
                                                            <span class="text-soft ml-1">----</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Toilet -->
                                <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">سرویس بهداشتی:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.toilet %}
                                                            <span class="text-soft ml-1">{{ sale_file.get_toilet_display }}</span>
                                                        {% else %}
                                                            <span class="text-soft ml-1">----</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Cooling -->
                                <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">سیستم سرمایش:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.cooling %}
                                                            <span class="text-soft ml-1">{{ sale_file.cooling }}</span>
                                                        {% else %}
                                                            <span class="text-soft ml-1">----</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Heating -->
                                <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">سیستم گرمایش:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.heating %}
                                                            <span class="text-soft ml-1">{{ sale_file.heating }}</span>
                                                        {% else %}
                                                            <span class="text-soft ml-1">----</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Hot Water -->
                                <div class="col-xl-12 col-xxl-3" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">تامین آب گرم:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.hot_water %}
                                                            <span class="text-soft ml-1">{{ sale_file.get_hot_water_display }}</span>
                                                        {% else %}
                                                            <span class="text-soft ml-1">----</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Address -->
                                {% if sale_file.source == 'PN' %}
                                    <div class="col-xl-12 col-xxl-6" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                        <div class="card">
                                            <div class="card-inner">
                                                <div class="d-flex justify-content-center">
                                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                                        <h6 class="lead-text">
                                                            <span class="text-soft ml-1">آدرس فایل:</span>
                                                        </h6>
                                                        <h6 class="lead-text">
                                                            {% if sale_file.address %}
                                                                <span class="text-soft ml-1">{{ sale_file.address|linebreaksbr|farsi_number }}</span>
                                                            {% else %}
                                                                <span class="text-soft ml-1">-------------------------------------------------</span>
                                                            {% endif %}
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-xl-12 col-xxl-9" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                        <div class="card">
                                            <div class="card-inner">
                                                <div class="d-flex justify-content-center">
                                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                                        <h6 class="lead-text">
                                                            <span class="text-soft ml-1">آدرس فایل:</span>
                                                        </h6>
                                                        <h6 class="lead-text">
                                                            {% if sale_file.address %}
                                                                <span class="text-soft ml-1">{{ sale_file.address|linebreaksbr|farsi_number }}</span>
                                                            {% else %}
                                                                <span class="text-soft ml-1">-------------------------------------------------</span>
                                                            {% endif %}
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- Description -->
                                <div class="col-xl-12 col-xxl-12" style="margin-top: 13px; box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;">
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="d-flex justify-content-center">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <h6 class="lead-text">
                                                        <span class="text-soft ml-1">توضیحات آگهی:</span>
                                                    </h6>
                                                    <h6 class="lead-text">
                                                        {% if sale_file.description %}
                                                            <p class="text-soft ml-1" style="line-height: 25px;!important; text-align: justify;!important;">{{ sale_file.description|safe|linebreaksbr }}</p>
                                                        {% else %}
                                                            <span class="text-soft ml-1">-----------------------------------------------------</span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- end: Cards -->

                    </div>
                </div>
            </div>
            <!-- end: Other -->

        </div>
    </div>

{% endblock %}




