{% extends '_base_dashboard.html' %}

{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load number_converter %}
{% load humanize %}
{% load widget_tweaks %}


{% block title %}حذف فایل {{ sale_file.title|linebreaksbr|farsi_number }}{% endblock %}


{% block content %}
    <div class="components-preview wide-md mx-auto">
        <div class="nk-block nk-block-lg">
            <div class="card card-bordered card-preview">
                <div class="card-inner">
                    <div class="preview-block">

                        <!-- Title -->
                        <div class="nk-block-head-content">
                            <h5 class="nk-block-title" style="line-height: 45px; font-size: 1.4em;">آیا از حذف فایل فروش 
                                <a href="{{ sale_file.get_absolute_url }}" style="text-decoration: none; color: #00a65c">
                                    {{ sale_file.title|linebreaksbr|farsi_number }}
                                </a> مطمئن هستید؟
                            </h5>
                        </div>
                        <!-- end: Title -->

                        <!-- Form -->
                        <form class="row gy-4" method="post">
                            {% csrf_token %}
                            <div class="nk-fmg-actions" style="margin-top: 3em;">
                                <button type="submit" class="btn btn-danger" style="line-height: 30px;">حذف فایل</button>
                            </div>
                        </form>
                        <!-- end: Form -->
                        
                        <!-- Recover -->
                        <div class="nk-fmg-actions" style="margin-top: 3em;">
                            <a href="{% url 'sale_file_recover' sale_file.pk sale_file.unique_url_id %}" class="btn btn-primary" style="line-height: 30px;">بازیابی فایل</a>
                        </div>
                        <!-- end: Recover -->

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




